@import "../global";
@import '../../../elements/component-tag-list';
@import '../../../elements/component-table-info';
.dashboard-body .dashboard-page .dashboard-main .dashboard-header{
    position: static;
}
.dashboard-info-candidate{
    padding: 30px 0 40px;
    position: relative;
    z-index: 1;
    .section-info{
        background: #fff;
        margin-top: 15px;
        padding: 30px;
        @media(max-width: 575px){
            padding: 30px 15px;
        }
    }
    .candidate-info{
        display: flex;
        flex-wrap: wrap;

        &_job-apply{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #4d4d4d;
            flex-wrap: wrap;
            .job-apply-label{
                display: inline-block;
                color: #ababab;
                font-size: 13px;
                margin-right: 5px;
            }
            .job-item-tag{
                display: inline-block;
                .tag-list{
                    .tag-item{
                        margin: 0;
                    }
                }
            }
            & + .section-info{
                margin-top: 0;
            }
        }
        &_avatar{
            img{
                width: 125px;
                height: 125px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        &_table{
            width: calc(100% - 125px);
            padding-left: 30px;
            .component-table-info{
                td{
                    vertical-align: top;
                    a{
                        color: inherit;
                    }
                }
                @media (min-width: 768px) and (max-width: 1199px) {
                    padding: 10px 0 !important;
                    display: block;
                    tbody{
                        display: block;
                    }
                    tr{
                        display: block;
                        padding: 10px 0;
                        td{
                            display: block;
                            width: 100% !important;
                            padding: 0 !important;
                            &:first-child{
                                margin-bottom: 5px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            display: block;
            &_avatar{
                margin-bottom: 30px;
            }
            &_table{
                padding-left: 0;
                width: 100%;
                .row > [class*="col-"]:first-child{
                    .component-table-info{
                        border-bottom: 1px dashed #eaeaea;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .candidate-show-file{
        width: 100%;
        max-width: 700px;
        iframe{
            width: 100%;
            height: 80vh;
        }
    }
}
