@import "../global";
@import '../../../elements/component-tag-list';
.dashboard-header{
    &_content{
        .button-group{
            .btn{
                background: #fafafa;
                color: #2d2d2d;
                border: 1px solid #eaeaea;
                cursor: auto;
                strong{
                    color: $color-theme;
                }
                &:hover,&:focus{
                    color: #2d2d2d
                }
            }
        }
    }
}
.dashboard-candidates-list {
    padding: 30px 0 50px;

    &_th {
        font-weight: 600;
        padding: 0 15px 15px;

        [class*="col-"]:first-child {
            padding-left: 110px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

}

.dashboard-candidate-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;
    color: #4a4a4a;
    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .avatar {
            img {
                width: 65px;
                height: 65px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            }
        }

        .title {
            padding-left: 30px;
            width: calc(100% - 65px);
            .name {
                a{
                    color: #2d2d2d;
                }
            }

            .desc {
                color: #ababab;
                font-size: 13px;
            }
        }
        .job-item-tag .tag-list .tag-item{
            padding: 0 10px;
            margin: 5px 0 0
        }
    }
    .contact{
        @media (max-width: 500px){
           margin-top: 10px;
        }
    }
    .company{
        @media (min-width: 500px) and (max-width: 1199px) {
            padding-left: 95px;
        }
    }
    .contact,.date-apply{
        @media (min-width: 500px) and (max-width: 767px) {
            padding-left: 95px;
        }
    }
    .control {
        .btn-control {
            border: 1px solid;
            padding: 0;
            color: #ababab;
            background: #fafafa;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            margin: 3px 5px 3px 0;
            font-size: 15px;
            line-height: 33px;
            cursor: pointer;
            &.btn-delete-member:hover {
                color: #f00;
            }

            &.btn-edit-member:hover {
                color: $color-theme;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:hover {
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

}
