@import "~bootstrap/scss/mixins/breakpoints";

$image-path: '/user/image';
//icon font
$font-path: '/user/fonts';
$fa-font-path: $font-path;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: .875rem;


$white: #fff;
$white-200: #fafafa;
$white-500: #f8f9f9;
$white-600:#f4f4f5;
$white-700:#f0f0f0;
$white-800:#eaeaeb;
$black-400: #2d2d2d;
$black-500: #4a4a4a;
$green-300: #3ea37d;
$blue: #2851a3;
$blue-500: #006097;
$grey: #eaeaea;
$grey-100: #b5b5b5;
$grey-200: #ababab;
$grey-800:#868686;
$gray-400:#ced4da;


$theme-colors: (
    "white": $white,
    "white-500": $white-500,
    "white-600": $white-600,
    "white-700": $white-700,
    "white-800": $white-800,
    "black-400": $black-400,
    "black-500": $black-500,
    "green-300": $green-300,
    "blue": $blue,
    "blue-500": $blue-500,
    "grey": $grey,
    "grey-100": $grey-100,
    "grey-200": $grey-200,
    "grey-800": $grey-800,
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$grid-gutter-width: 30px;

$line-height-base: 1.55;
$line-height-lg: $line-height-base;
$line-height-sm: 1.25;

$body-color: $black-500;
$border-color: $grey;

// Style anchor elements.
$link-color: $black-400;
$link-hover-color: $green-300;
$link-hover-decoration: none;

$fonts-weight :();
$fonts-weight: map-merge((
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'black': 900,
), $fonts-weight);

$h3-font-size: 1.5rem;
$h5-font-size: 1rem;

// Buttons + Forms
$input-placeholder-color:$grey-200;
$input-btn-focus-width: 0;
$input-border-color: $gray-400;
$input-focus-border-color:$gray-400;

$btn-padding-y: .25rem;
//$btn-padding-x: $input-btn-padding-x !default;
$btn-line-height: 22px;

//Text font size
$text-sizes: 10, 11, 12, 13, 14, 15, 16;
$line-clamp: 1,2,3,4,5;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
        (
            0: 0,
            1: ($spacer * .25),
            2: ($spacer * .5),
            3: $spacer,
            4: ($spacer * 1.5),
            5: ($spacer * 3),
            10: 10px,
            15: 15px,
            20: 20px,
            25: 25px,
            30: 30px,
            40: 40px,
            50: 50px,
        ),
        $spacers
);
