@import "var";
@import "mixins";
@import "modules/header";
@import "modules/footer";

.form-search-nav {
    max-width: 370px;
    width: 100%;

    .input-search {
        height: 36px;
    }

    .btn-search-icon {
        i {
            font-size: 16px;
        }
    }
}

.line-height-sm {
    line-height: $line-height-sm;
}

.text-fit-height {
    line-height: .7;
}

.square-50 {
    width: 50px;
    height: 50px;

    &.border {
        width: 49px;
        height: 49px;
    }
}

.full-width {
    @include full-width();
    @include media-breakpoint-down(lg) {
        .container {
            max-width: 100%;
        }
    }
}

.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.js-short-content {
    .more-content {
        span {
            display: none;
        }
    }
}

.debug-theme {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    opacity: 0;
    display: none;
}

