
.header-profile {
    .dropdown-menu {
        border-radius: 0 0 5px 5px;
        min-width: 280px;
        top: 46px;
        right: 0;
        left: auto;
    }

    .profile-info {
        .info-name {
            .username {
                font-size: 18px;
                line-height: normal;
            }
            .score {
                border-radius: 9px 9px 9px 0;
                padding: 2px 4px;
                position: relative;
                top: -6px;
                margin-left: 2px;
            }
        }
    }

    .group-item {

    }

    .menu-line {
        a {
            color: $black-400;
            display: block;
            width: 100%;
            line-height: 36px;
            padding-left: 18px;
            padding-right: 18px;

            &:hover, &.active {
                background-color: #f7f7f7;
            }

        }
        .icon-link {
            margin-right: 15px;
        }
    }

    .item-account {
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 17px;
        position: relative;

        .check {
            visibility: hidden;
        }

        .active {
            font-weight: 500;
            .check {
                visibility: visible;
            }
        }

        .account-avt {
            margin-right: 10px;
        }

        .account-avt, .add-account {
            width: 40px;
            height: 40px;
        }

        .action-create-account {
            .account-name {
                color: $grey-200;
            }
        }

    }
}
