.list-news {
    .item {
        &:first-child {
            padding-top: 0 !important;
        }

        .post-category {
            .cat-avatar {
                margin-right: 13px;
            }

        }

        .post-desc {
            line-height: 1.63;
        }

        .post-like-section {
            .counter {
                &:after {
                    content: '';
                    display: inline-block;
                    border-right: 1px solid $grey;
                    height: 12px;
                    padding-left: 12px;
                }
            }
        }

        .btn-follow-idol {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 24px;
        }
    }
}
