.header {
    ul.clearfix {
        list-style: none;
        margin: 0;
    }

    .notification {
        line-height: 1;
        img {
            vertical-align: baseline;
        }
    }
}
/**
Header old version
 */
.header {
    padding: 10px 20px;
    display: flex;
    border-bottom: #efefef solid 1px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    position: relative;
    background-color: #fff;
    .group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &--right {
            flex: 1;
            justify-content: space-between;
        }
    }
    .logo {
        line-height: 0;
        width: 40px;
        height: 44px;
        display: block;
        color: #ababab;
        img {
            width: 100%;
        }
    }
    .menu {
        display: flex;
        padding: 0 0 0 40px;
        li {
            margin-right: 30px;
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 500;
                color: #282828;
                img {
                    margin-right: 10px;
                }
            }
            &.active {
                a {
                    color: #3ea37d;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .search {
        position: relative;
        max-width: 370px;
        width: 100%;
        margin-left: 25px;
        input {
            width: 100%;
            display: block;
            height: 36px;
            padding: 7px 40px 7px 15px;
            border: 1px solid #f4f4f5;
            background: #f8f9f9;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button {
            position: absolute;
            cursor: pointer;
            border: none;
            background: transparent;
            right: 15px;
            top: 50%;
            margin-top: -8px;
            padding: 0;
            line-height: 0;
        }
        @media screen and (max-width: 1000px) {
            flex: 1;
        }
    }
    .right {
        margin-left: auto;
        font-weight: 700;
        padding-left: 15px;
        .register {
            color: #4a4a4a;
            .link {
                color: #57bc72;
            }
        }
        .notification {
            display: flex;
            align-items: center;
            .list {
                display: flex;
                align-items: center;
                li {
                    margin-right: 20px;
                    a {
                        max-width: 20px;
                        display: block;
                        i {
                            color: #ababab;
                            font-size: 20px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .avatar {
                position: relative;
                a {
                    display: block;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
    }
    .dropdown-toggle:after {
        display: none;
    }
    .dropdown-menu {
        position: absolute;
        display: none;
        width: 280px;
        top: 51px !important;
        right: 0 !important;
        padding: 0;
        border-radius: 0 0 10px 10px;
        background: #fff;
        box-shadow: 0 5px 5px 0 #d9d9d9;
        transition: 0.25s;
        transition-timing-function: ease-out;
        border: 0;
        .profile {
            position: relative;
            height: 80px;
            border-bottom: 1px solid #f4f4f4;
            .info {
                position: absolute;
                padding-right: 20px;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                h5 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                .edit {
                    font-size: 13px;
                    margin-top: 3px;
                    margin-bottom: 0;
                    color: #868686;
                    font-weight: 400;
                }
                .score {
                    background: #3ea37d;
                    border-radius: 9px 9px 9px 0;
                    padding: 2px 4px;
                    color: #fff;
                    font-weight: 900;
                    margin-left: 8px;
                    font-size: 14px;
                }
            }
            .avatar {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        } // .profile
        .setting,
        .bookmark {
            padding: 10px 0;
            border: 1px solid #f4f4f4;
            font-size: 14px;
            .item {
                display: block;
                color: #2d2d2d;
                a {
                    position: relative;
                    padding: 0 20px;
                    height: 36px;
                    color: #2d2d2d;
                    display: flex;
                    align-items: center;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #6e6e6f;
                    }
                    span {
                        padding-left: 25px;
                        font-weight: 400;
                    }
                    &:hover {
                        background: #f7f7f7;
                    }
                }
            }
        } // .bookmark, .setting

        .account-list {
            padding: 15px 0;
            font-size: 14px;
            .item {
                padding: 0 20px;
                height: 50px;
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                .avatar {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }
                }
                .name {
                    padding-left: 50px;
                    padding-right: 20px;
                    font-weight: 500;
                }
                .create {
                    padding-left: 50px;
                    padding-right: 20px;
                    font-weight: 500;
                    color: #868686;
                }
                .check {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    color: #6e6e6f;
                }
                .add-account {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 0;
                    background: #eaeaea;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #999;
                }
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &.active {
                    .name {
                        font-weight: 700;
                        color: #2d2d2d;
                    }
                }
            }
        } // .account-list
    }
    .show {
        display: block;
    }

    @media screen and (max-width: 1200px) {
        .search {
            margin-left: 10px;
        }
        .menu {
            li {
                margin-right: 20px;
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: block;
        .group {
            justify-content: space-between;
            &--right {
                margin-top: 10px;
            }
        }
        .search {
            margin-left: 0;
            @media screen and (max-width: 600px) {
                flex: 1;
                margin-right: 10px;
            }
        }
    }

    @media screen and (max-width: 414px) {
        .menu {
            padding-left: 20px;
        }
    }

    @media screen and (max-width: 400px) {
        .menu {
            li a span {
                display: none;
            }
        }
    }
} // .header

.header-sub-menu {
    padding-left: 100px;
}

@include media-breakpoint-down(lg) {
    .header-sub-menu {
        padding-left: $grid-gutter-width / 2;
        .nav {
            display: inline-block;

            .nav-item {
                display: inline-block;
                .nav-link {
                    line-height: 35px;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .header {
        .group--right {
            .search {
                margin-right: auto;
            }
            .right {
                padding-left: 0;
                .notification  {
                    .list {

                    }
                }
            }
        }
    }
}
