@import "global";
.account-setting-page{
    .container{
        max-width: 700px;
    }
    .account-setting-sidebar{
        &_widget{
            padding: 15px 0;
            h6{
                color: #ababab;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
    .account-setting-navigation{
        a{
            display: block;
            color: #868686;
            font-weight: 500;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &.active{
                color: #2d2d2d;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    .account-setting-section {
        min-height: 500px;
        .title-section{
            color: #ababab;
            font-weight: bold;
            font-size: 30px;
        }
    }
}
