@import "global";
@import "../../elements/reset-select2-list-item";

/* forgot-content - step 3 + 4 */
.fill-email {
    padding: 110px 0 140px;
    max-width: 370px;
    margin: auto;

    .title {
        margin: 0 0 10px;
        line-height: 1;
        color: $color-theme;
        text-align: center;
        font-size: 24px;

        i {
            font-size: 36px;
        }
    }

    .txt {
        margin: 0 0 60px;
        text-align: center;
        color: #4a4a4a;
    }

    .form {
        .form-group {
            margin-bottom: 30px;

            label {
                margin-bottom: 10px;
                font-weight: 700;
                color: #2d2d2d;
            }

            .form-control {
                height: 50px;
                width: 100%;
                padding: 0 15px;
                border-radius: 5px;
                border: 1px solid #eaeaea;
                font-size: 14px;

                &:focus {
                    outline: none;
                    border: 1px solid #3ea37d;
                }
            }
            .form-group{
                position: relative;
                .select2-hidden-accessible{
                    width: 100% !important;
                    height: 40px !important;
                    margin: 0 !important;
                }
            }
            .form-alert {
                margin-top: 10px;
                color: #e32f2f;
                font-size: 13px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .btn-custom {
        font-size: 18px;
        display: block;
        width: 100%;
        background-image: linear-gradient(to right, #45aa7b, #49ae79, #4cb177);
        text-align: center;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: 100;
        cursor: pointer;
        height: 50px;
        margin-top: 40px;
        font-weight: 700;
    }

    .btn:hover {
        color: #fff;
    }

    a:hover,
    button:hover {
        opacity: 0.8;
    }

    .select2-hidden-accessible{
        left: 0;
        top: 31px;
        height: 50px !important;
    }
    .select2-container{
        .select2-selection{
            border-color: #eaeaea;
            &--single{
                height: 50px;
                .select2-selection__rendered{
                    height: 50px;
                    line-height: 50px;
                    padding-left: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fill-email {
        padding: 50px 20px;
    }
}

