@import "global";

.btn-custom {
    font-size: 18px;
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #45aa7b, #49ae79, #4cb177);
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    height: 50px;
    margin-top: 40px;
    font-weight: 700;
}

.btn:hover {
    color: #fff;
}

a:hover,
button:hover {
    opacity: 0.8;
}

/* forgot */
.forgot {
    background-image: url('/images/bg.jpg');
    padding: 100px 0 50px;
    background-size: cover;
    background-position: center center;
    color: #4a4a4a;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .sologan {
        color: #fff;

        .title {
            font-size: 48px;
            line-height: 60px;
            font-weight: 900;
        }

        .txt {
            font-size: 20px;
            padding-left: 47px;
            position: relative;
        }

        .txt::before {
            content: "";
            display: inline-block;
            height: 1px;
            width: 30px;
            background: #fff;
            left: 0;
            position: absolute;
            top: 50%;
        }
    }

    .form {
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        background: #fff;
        padding: 25px;
        max-width: 420px;
        color: #4a4a4a;
        width: 100%;
        .title {
            font-size: 24px;
            color: $color-theme;
            font-weight: 700;
        }

        .txt {
            margin: 15px 0 25px;
            line-height: 1.8;
        }

        .mgs {
            text-align: center;
            margin: 20px 0 40px;

            .icon {
                color: #3ea37d;
                font-size: 75px;
                i{
                    font-weight: 100;
                }
            }
        }

        .resend {
            text-align: center;
            margin-bottom: 70px;

            p {
                margin-bottom: 5px;
            }

            button {
                padding: 0;
                color: #3ea37d;
                border: 0;
                background: transparent;
            }
        }

        .regiter {
            margin: 40px 0 0;

            a {
                font-weight: 700;
                color: #3ea37d;
            }
        }

        .button {
            margin-top: 30px;

            button {
                font-size: 18px;
                padding: 10px 20px;
                min-width: 160px;
                margin: 0 auto;
                display: block;
            }
        }

        .back {
            margin-bottom: 40px;
            text-align: center;

            a {
                color: #4bb078;
            }

            i {
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }

    @media screen and (max-width: 1199px) {
        .sologan {
            .title {
                font-size: 30px;
                line-height: inherit;
            }

            .txt {
                font-size: 16px;
            }
        }
        .form {
            .title {
                font-size: 21px;
            }
        }
    }

    @media screen and (max-width: 991px) {
        .form {
            .mgs {
                margin: 50px 0;
            }
        }

        .sologan {
            margin-bottom: 30px;
            text-align: center;

            .txt {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 200px;
        .sologan {
            .title {
                font-size: 20px;
            }

            .txt {
                font-size: 13px;
                letter-spacing: normal;
            }
        }

        .form {
            .button,
            .regiter {
                margin: 20px 0;
            }
        }
    }
}

/* END: forgot */

/* forgot-content - step 3 + 4 */
.forgot-content {
    padding: 110px 0 140px;
    max-width: 370px;
    margin: auto;

    .tittle {
        margin: 0 0 10px;
        line-height: 1;
        color: #3ea37d;
        text-align: center;
        font-size: 24px;

        i {
            font-size: 36px;
        }
    }

    .txt {
        margin: 0 0 60px;
        text-align: center;
        color: #4a4a4a;
    }

    .form {
        .form-group {
            margin-bottom: 30px;

            label {
                margin-bottom: 10px;
                font-weight: 700;
                color: #2d2d2d;
            }

            .form-control {
                height: 50px;
                width: 100%;
                padding: 0 15px;
                border-radius: 5px;
                border: 1px solid #eaeaea;
                font-size: 14px;

                &:focus {
                    outline: none;
                    border: 1px solid #3ea37d;
                }
            }

            .form-alert {
                margin-top: 10px;
                color: #e32f2f;
                font-size: 13px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .forgot-content {
        padding: 50px 20px;
    }
}
