@import "global";
.invite-friends-page{
    .invite-friends-head{
        background: url("/images/banner-invite-friend.png") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding: 100px 0;
        color: #fff;
        line-height: 1.67;
        h1{
            font-size: 30px;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 5px;
        }
        .btn{
            font-size: 14px;
            margin: 10px 5px 0;
            &.btn-facebook{
                background: #2851a3;
                &:focus{
                    background: #2851a3;
                    box-shadow: 0 0 0 0.2rem rgba(40, 81, 163, 0.25);
                }
            }
            &.btn-linkedin{
                background: #0077b5;
                &:focus{
                    background: #0077b5;
                    box-shadow: 0 0 0 0.2rem rgba(0, 119, 181, 0.25);
                }
            }
        }
        @media (max-width: 575px) {
            padding: 80px 0;
        }
    }
    .invite-friends-content{
        padding: 80px 0;
        text-align: center;
        h2{
            font-weight: bold;
            color: #2d2d2d;
            font-size: 30px;
        }
        &_col{
            margin-top: 60px;
            h3{
                margin: 40px 0 15px;
                font-size: 18px;
                color: #2d2d2d;
                font-weight: bold;
            }
            .desc{
                color: #4a4a4a;
                line-height: 1.57;
            }
        }
        @media (max-width: 575px) {
            padding: 60px 0;
            h2{
                font-size: 20px;
            }
            &_col{
                margin-top: 30px;
                h3{
                    margin: 20px 0 10px;
                }
            }
        }
    }
}
.modal-invite-friend{
    .modal-header{
        .close{
            font-size: 18px;
        }
    }
    .modal-title{
        font-size: 18px;
    }
    .modal-dialog{
        max-width: 500px;
    }

    .modal-body{
        p{
            line-height: 1.67;
            color: #4a4a4a;
            margin-bottom: 20px;
        }
        h4{
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .btn{
        font-size: 14px;
    }
}
