@import "global";
@import "../../elements/reset-select2-list-item";

.register {
    background-image: url('/images/bg.jpg');
    padding: 100px 0 50px;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .sologan {
        .title {
            font-size: 48px;
            line-height: 1.37;
            font-weight: 900;
            margin-bottom: 27px;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32);
        }

        .txt {
            font-size: 20px;
            padding-left: 47px;
            position: relative;
            letter-spacing: .5px;
            line-height: 1.37;

            &::before {
                content: "";
                display: inline-block;
                height: 1px;
                width: 30px;
                background: #fff;
                left: 0;
                position: absolute;
                top: 50%;
            }
        }
    }

    .form {
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        background: #fff;
        color: #4a4a4a;
        max-width: 420px;
        padding: 25px;
        .title {
            font-size: 24px;
            color: $color-theme;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-box {
            margin-bottom: 15px;
        }
        .form-group{
            position: relative;
            &:first-child,
            &.first {
                margin-top: 25px;
            }
            .select2-hidden-accessible{
                width: 100% !important;
                height: 40px !important;
                margin: 0 !important;
            }
        }


        .messages {
            margin-top: 12px;
            margin-bottom: 15px;
            &.error {
                padding: 3px 10px;
                font-size: 13px;
                padding: 5px 10px;
                font-size: 13px;
                background: #ffeaea;
                border: none;
                color: #f00;
                & + .form-group {
                    margin-top: 15px;
                }
            }
        }

        .form-group.error {
            input {
                border: 1px solid #d52c27;
            }
        }

        .social {
            display: flex;
            justify-content: space-between;
            margin: 24px -5px;

            li {
                width: 50%;
                padding: 0 5px;
                a {
                    background: #2851a3;
                    color: #fff;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    display: block;
                    padding: 7.5px 0 7.5px;
                    line-height: 22px;
                    text-align: center;
                    font-size: 13px;
                    i {
                        font-size: 17px;
                        vertical-align: -2px;
                    }
                }

                &.linkedin a {
                    background: #006097;
                }
            }
        }

        .or {
            text-align: center;
            position: relative;
            color: #ababab;

            &::after,
            &::before {
                content: "";
                height: 1px;
                background: rgba(171,171,171,.2);
                width: 40%;
                display: block;
                top: 50%;
                position: absolute;
            }

            &::after {
                right: 0;
            }
        }

        input {
            padding: 0 10px;
            height: 40px;
            font-size: 14px;
            &:focus {
                border: 1px solid #57bc72 !important;
                box-shadow: none !important;
            }
        }

        .feature {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            a {
                color: #3ea37d;
            }
        }

        .notify {
            font-weight: 400;
            margin: 12px 0 0;
            line-height: 1.3;
            a {
                color: #3ea37d;
            }
        }

        .regiter {
            margin: 40px 0;
        }

        .btn {
            height: 40px;
            font-size: 16px;
            line-height: 1.37;
        }

        .regiter {
            a {
                font-weight: 700;
                color: #3ea37d;
            }
        }
    }

    @media screen and (max-width: 1199px) {
        .sologan{
            .title {
                font-size: 30px;
                line-height: inherit;
            }
            .txt{
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 991px) {

        .sologan {
            margin-bottom: 30px;
            text-align: center;
            .txt {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 200px;
        .sologan {
            .title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .txt {
                font-size: 13px;
                letter-spacing: normal;
            }
        }

        .form {

            .feature,
            .notify {
                margin: 15px 0;
            }

            .or {
                margin: 15px 0;
            }

            .button, .regiter {
                margin: 20px 0;
            }
        }
    }
    @media screen and (max-width: 575px){
        .form {
            .social {
                flex-wrap: wrap;
                margin: 15px -5px;

                li {
                    width: 100%;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
