@import "global";

.verify-register {
    background-image: url('/images/bg.jpg');
    padding: 100px 0 50px;
    background-size: cover;
    background-position: center center;
    color: #4a4a4a;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .sologan {
        color: #fff;

        .title {
            font-size: 48px;
            line-height: 60px;
            font-weight: 900;
        }

        .txt {
            font-size: 20px;
            padding-left: 47px;
            position: relative;
        }

        .txt::before {
            content: "";
            display: inline-block;
            height: 1px;
            width: 30px;
            background: #fff;
            left: 0;
            position: absolute;
            top: 50%;
        }
    }

    .form {
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        background: #fff;
        padding: 25px;
        max-width: 420px;
        color: #4a4a4a;
        width: 100%;
        .title {
            font-size: 24px;
            color: $color-theme;
            font-weight: 700;
        }

        .txt {
            margin: 15px 0 25px;
            line-height: 1.8;
        }

        .mgs {
            text-align: center;
            margin: 20px 0 40px;

            .icon {
                color: #3ea37d;
                font-size: 75px;
                i{
                    font-weight: 100;
                }
            }
        }

        .resend {
            text-align: center;
            margin-bottom: 70px;

            p {
                margin-bottom: 5px;
            }

            button {
                padding: 0;
                color: #3ea37d;
                border: 0;
                background: transparent;
            }
        }

        .regiter {
            margin: 40px 0 0;

            a {
                font-weight: 700;
                color: #3ea37d;
            }
        }

        .button {
            margin-top: 30px;

            button {
                font-size: 18px;
                padding: 10px 20px;
                min-width: 160px;
                margin: 0 auto;
                display: block;
            }
        }

        .back {
            margin-bottom: 40px;
            text-align: center;

            a {
                color: #4bb078;
            }

            i {
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }

    @media screen and (max-width: 1199px) {
        .sologan {
            .title {
                font-size: 30px;
                line-height: inherit;
            }

            .txt {
                font-size: 16px;
            }
        }
        .form {
            .title {
                font-size: 21px;
            }
        }
    }

    @media screen and (max-width: 991px) {
        .form {
            .mgs {
                margin: 50px 0;
            }
        }

        .sologan {
            margin-bottom: 30px;
            text-align: center;

            .txt {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 200px;
        .sologan {
            .title {
                font-size: 20px;
            }

            .txt {
                font-size: 13px;
                letter-spacing: normal;
            }
        }

        .form {
            .button,
            .regiter {
                margin: 20px 0;
            }
        }
    }
}

