@import "../global";
@import "../../../elements/reset-Sweet-alert";
@import "../../../elements/checkbox-switch";

.dashboard-header{
    .button-group{
        max-width: 700px;
        .form-control{
            height: 35px;
            margin-right: 10px;
            &:nth-child(2n+1){
                width: 110px;
            }

        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            .form-control {
                margin-bottom: 10px;
                &:nth-child(2n) {
                    width: calc(100% - 120px);
                    margin-right: 0;
                }
            }
        }
    }
}

.dashboard-jobs-list{
    padding: 30px 0 50px;
    &_th{
        font-weight: 600;
        padding: 0 15px 15px;
        .row{
            margin: 0 -0.5rem;
            [class*="col-"]{
                padding: 0 0.5rem;
            }
        }
    }
}
.dashboard-jobs-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;
    .row{
        margin: 0 -0.5rem;
        [class*="col-"]{
            padding: 0 0.5rem;
        }
    }
    &_title{
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            max-height: 38px;

            a{
                color: #2d2d2d;
                transition: all linear .3s;
                &:hover{
                    color: $color-theme;
                    opacity: 1;
                }
            }
        }
        .location{
            padding-left: 15px;
            position: relative;
            margin-right: 15px;
            &:before{
                content: '\f3c5';
                font-family: "Font Awesome 5 Pro";
                font-weight: 700;
                color: #868686;
                position: absolute;
                left: 0;
                top: 0px
            }
            span{
                color: #868686;
                font-size: 12px;
                margin-bottom: 2px;
                background: #eaeaea;
                padding: 2px 5px;
                border-radius: 10px;
                display: inline-block;
            }

        }
        .action{
            visibility: hidden;
            opacity: 0;
            transition: all linear .3s;
            a{
                display: inline-block;
                background: #f0f0f0;
                color: #ababab;
                width: 32px;
                height: 32px;
                line-height: 34px;
                text-align: center;
                border-radius: 50%;
                transition: all linear .3s;
                &:hover,&:focus{
                    opacity: 1;
                    color: #fff;
                    background: $color-theme;
                }
            }
        }
        @media (max-width: 767px) {
            border-bottom: 1px dashed #eaeaea;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .title{
                height: auto;
            }
            .action{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .status-txt{
        color: $color-theme;
        background: #ebf8f3;
        border: none;
        font-size: 14px;
        line-height: 1;
        border-radius: 5px;
        padding: 8px 0;
        display: block;
        width: 100%;
        margin-top: 5px;
        cursor: pointer;
        &.active{
            color: #fff;
            background: #57bc72;
        }
        &.btn-push-top{
            color: #fff;
            background: #fa9a3d;
        }
    }
    .select-status-job{
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-top: 5px;
        padding: 5px 0;
        border-color: #eaeaea;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    .info-txt{
        strong{
            color: $color-theme;
        }
        small{
            font-size: 13px;
            color: #ababab;
        }
    }
    .checkbox-switch{
        margin-top: 5px;
        @media (max-width: 1199px) {
            margin-top: 0;
        }
    }
    .btn{
        font-size: 14px;
        padding: 3px 20px;
    }
    &:hover{
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        .dashboard-jobs-item_title{
            .action{
                visibility: visible;
                opacity: 1;
                animation: slideInUp both .5s;
            }
        }
    }

}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
