.page-enterprise {
    .cover-page {
        height: 200px;
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    .nav-of-page {
        height: 100%;
        margin-bottom: 30px;

        .company-avatar  {
           width: 75px;
           height: 75px;
        }

        .company-name {
            font-size: 18px;
        }

        .company-actions-with-btn {
            text-align: center;
        }
        .menu-nav-enterprise {
            margin-left: 0;
        }
    }

    .company-caption {
        .company-slogan {
            font-size: 30px;
        }
    }
    .quote-master {
        .list-person {

        }
    }

    .job-list {
        .owl-nav {
            .owl-prev {
                left: 3px;
            }
            .owl-next {
                right: 3px;
            }
        }
    }
}

.enterprise-job-page {
    .thread-list {
        margin-top: 10px;
    }
}
