.box-news-list {
    .box-right {
        border: none !important;
        padding-left: $grid-gutter-width/2;
        padding-top: 0;
    }

    .list-news {
        .item {
            .post-category {
                .btn-follow-idol {
                    display: block;
                    width: 100%;
                }
            }

            .post-cover {
                img {
                    width: 100% !important;
                }
            }
        }
    }
}
.page-detail-news {
    .article-cat {
        .cat-avatar {
            width: 70px;
            height: 70px;
        }
        .cat-name {
            font-size: 18px;
        }
    }

    .company-menu-page {
        overflow-x: scroll;
        white-space: nowrap;
        .nav {
            display: inline-block;
            .nav-item {
                display: inline-block;
            }
        }
    }

    .cover-article {
        margin-bottom: 30px;
    }
    .content-page-article {
        .article-title {
            font-size: 22px;
        }
    }
}

