.card.card-line {
    border: 0;
    .card-header {
        position: relative;
        padding-bottom: 20px;
        line-height: 1.3;
        border: 0;
        background-color: transparent;

        .card-name {
            text-transform: uppercase;
            font-weight: 900;
            color: $black-400;
        }

        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background-color: $green-300;
            display: block;
            position: absolute;
            bottom: 0;
        }

        .card-caption {
            color: #a1a1a1;
            position: absolute;
            line-height: 1;
            left: 36px;
        }

        .card-read-more {
            position: absolute;
            right: 0;

            a {
                color: #a1a1a1;
            }
        }

        .card-caption, .card-read-more {
            bottom: -3px;
        }

    }
}
