
.nav-line {
    .nav-link {
        padding-left: 0;
        padding-right: 15px;
        color: $grey-800;
        line-height: 40px;

        &.active, &:hover {
            color: $black-400;
        }

        &.active {
            &:after {
                content: '';
                width: 30%;
                max-width: 30px;
                height: 2px;
                background-color: $green-300;
                display: block;
                margin: -2px auto 0;
            }
        }
    }

    .nav-link.active,
    .show > .nav-link {
    }

    .nav-item {
        text-align: center;
    }
}

.nav-link-padding-y-0 {
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
}
