.pagination {
    list-style: none;

    .page-item {
        display: inline-block;
        .page-link {
            color: #ababab;
            width: 40px;
            height: 40px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            &:hover, &.active {
                background-color: #3ea37d;
                color: #fff;
                border-radius: 50%;
            }
            &.arrow {
                color: #dddddd;

                &:hover {
                    color: #3ea37d;
                    background-color: transparent;
                }
                i {
                    &:before {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
