.text-sm {
    font-size: 0.75rem;
}
@each $size in $text-sizes {
    .text-size-#{$size} {
        font-size: #{$size}px;
    }
}

[class*="line-clamp-"] {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@each $line in $line-clamp {
    .line-clamp-#{$line} {
        line-clamp: $line;
        -webkit-line-clamp: $line;
    }
}


@each $name, $value in $fonts-weight {
    .font-weight-#{$name} {
        font-weight: #{$value} !important;
    }
}
