@charset "UTF-8";
@import "../var";


@font-face {
    font-family: "inplace";
    src: url($font-path + "/inplace.eot");
    src: url($font-path + "/inplace.eot?#iefix") format("embedded-opentype"),
    url($font-path + "/inplace.woff") format("woff"),
    url($font-path + "/inplace.ttf") format("truetype"),
    url($font-path + "/inplace.svg#inplace") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    @include font-icon-base('inplace');
}

[class^="ipl-"]:before,
[class*=" ipl-"]:before {
    @include font-icon-base('inplace');
}

.ipl-comment:before {
    content: "\e000";
}
.ipl-edit:before {
    content: "\e001";
}
.ipl-news-paper:before {
    content: "\e002";
}
.ipl-office-briefcase:before {
    content: "\e003";
}
.ipl-ring:before {
    content: "\e004";
}
.ipl-search:before {
    content: "\e005";
}
.ipl-arrow-left:before {
    content: "\e006";
}
.ipl-arrow-right:before {
    content: "\e007";
}
