@import '../companies/global';
@import '../../elements/button-like-heart';
@import '../../elements/button-share-icon';
@import '../../elements/component-post-item';
.page-detail-news{
    @media (min-width: 768px) and (max-width: 1199px) {
        padding-top: 15px;
    }
    .new-detail-thumb{
        img{
            width: 100%;
            height: 435px;
            object-fit: cover;
            @media (max-width: 1199px) {
                height: 364px;
            }
            @media (max-width: 991px) {
                height: 270px;
            }
            @media(max-width: 767px){
                height: 200px;
            }
            @media(max-width: 575px){
                height: 214px;
            }
            @media(max-width: 414px){
                height: 150px;
            }
            @media(max-width: 375px){
                height: 135px;
            }
        }
    }
    .new-detail-title{
        font-size: 30px;
        padding: 25px 0;
        font-weight: bold;
        @media(max-width: 767px){
            font-size: 20px;
            padding: 10px 0;
        }
    }
    .new-detail-auth{
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0;
        font-size: 13px;
        color: #ababab;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .new-detail-auth-info{
            display: flex;
            align-items: center;
            .auth-avatar{
                margin-right: 10px;
                img{
                    border: solid 1px rgba(0, 0, 0, 0.08);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                    @media(max-width: 767px){
                        width: 40px;
                        height: 40px
                    }
                }
            }
            .auth-name{
                h3{
                    font-size: 14px;
                    margin-bottom: 5px;
                    a{
                        color: #2d2d2d;
                    }
                }
                span{
                    font-size: 12px;
                }
            }
        }
        .new-detail-auth-activity{
            .like-count{
                padding-right: 10px;
                margin-right: 14px;
                border-right: 1px solid #ccc;
                &:nth-child(2){
                    border: none;
                    padding: 0;
                }
            }
        }
        @media(max-width: 575px){
            display: block;
            .new-detail-auth-activity{
                text-align: right;
            }
        }
    }
    .new-detail-text{
        padding: 45px 0;
        @media(min-width: 768px){
            font-size: 16px;
        }
    }
    .company-top-jobs{
        background: #f8f8f9;
        padding: 30px;
        margin-bottom: 30px;
        &_title{
            font-size: 18px;
            color: #2d2d2d;
            font-weight: bold;
        }
        @media(max-width: 575px){
            padding: 20px;
            &_title{
                font-size: 16px;
            }
        }
        .top-jobs-list{
            padding: 5px 0;
            li{
                padding: 5px 0;
                line-height: 1.37;
                position: relative;
                padding-left: 20px;
                &:before{
                    content:'';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #ababab;
                    left: 0;
                    top: 12px;
                }
            }
            a{
                color: $color-theme;
            }
        }
        .viewmore{
            font-size: 13px;
            color: #ababab;
            display: inline-block;
            margin-top: 5px;
        }
    }
    .article-auth-intro{
        padding: 30px 0;
        &_item{
            margin-bottom: 30px;
            .auth-intro-content{
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                .auth-intro-thumb{
                    width: 80px;
                    height: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .auth-intro-text{
                    width: calc(100% - 80px);
                    padding-left: 15px;
                    padding-top: 0;
                    .title{
                        font-size: 18px;
                        line-height: 1.37;
                        margin-bottom: 10px;
                        a{
                            color: #2d2d2d;
                        }
                    }
                    .desc{
                        color: #4a4a4a;
                        line-height: 1.67;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                    }
                }
            }
            .btn-follow-customer{
                margin-right: 0;
                margin-bottom: 15px;
                @media(max-width: 767px){
                    margin: 0px 0 0 15px;
                    order: 2;
                }
            }
            .auth-intro-sub{
                color: #ababab;
                font-size: 12px;
            }
        }
    }
    .related-posts{
        border-top: 1px solid #eaeaea;
        padding: 25px 0 45px;
        @media (max-width: 767px) {
            padding-bottom: 15px;
            .col-sm-6:first-child{
                flex: 0 0 100%;
                max-width: 100%;
                .component-posts-item .posts-item-thumb img{
                    height: 200px;
                }
            }
        }
        .component-posts-item .posts-item-thumb{
            img {
                height: 137px;
                -o-object-fit: cover;
                object-fit: cover;
                @media (max-width: 1199px) {
                    height: 114px;
                }
                @media (max-width: 991px) {
                    height: 82.2px;
                }
                @media (max-width: 767px) {
                    height: 94px;
                }
                @media (max-width: 575px) {
                    height: 200px !important;
                }
                @media (max-width: 350px) {
                    height: 137px !important;
                }
            }
        }
    }
}
