@import "global";
@import "../../elements/component-post-item-large";
@import "../../elements/component-post-item-sidebar";
@import "../../elements/component-post-item-headhunter";
@import "../../elements/header-sub-nav";
.news-page{
    &_top{
        border-bottom: 1px solid #eaeaea;
        padding: 15px 0;
    }
    &_content{
        padding: 60px 0;
        @media(max-width: 767px){
            padding: 40px 0;
        }
    }
    &_sidebar{
        padding-left: 60px;
        position: relative;
        &:before{
            content: '';
            width: 1px;
            background: #eaeaea;
            top: -60px;
            bottom: 0;
            position: absolute;
            left: 30px;
        }
        @media (max-width: 1199px) {
            padding-left: 20px;
            &:before{
                left: 0;
            }
        }
        @media (max-width: 991px){
            padding-left: 0;
            &:before{
                display: none;
            }
        }
        @media(min-width: 576px) and (max-width: 767px){
            .col-sm-6:nth-child(2n+1){
                border-right: 1px solid #eaeaea;
            }
        }
    }
}
