.alert-form-success{
    .modal-body{
        padding: 50px 1rem;
    }
    .icon-success{
        margin-bottom: 30px;
        i{
            font-size: 40px;
            width: 70px;
            height: 70px;
            color: #3ca47e;
            border-radius: 50%;
            border: 2px solid;
            line-height: 66px;
            animation: bounceIn 1s both .3s;
            display: none;
        }
    }
    &.show{
        .icon-success i{
            display: inline-block;
        }
    }
    .title{
        font-size: 24px;
        color: #2d2d2d;
        margin-bottom: 15px;
    }
    .desc{
        line-height: 1.5;
    }
}
.popup-save-success,.popup-error-upload{
    button.close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
    .title{
        font-weight: bold;
    }
}
.popup-error-upload{
    .icon-success i{
        color: #f00 !important;
    }
}
