@import "./reset-select2-list-item";
.block-filter {
    max-width: 320px;
    padding-bottom: 40px;
    .filter{
        &--keywords{
            margin-bottom: 30px;
            .title {
                color: #ababab;
                margin-bottom: 10px;
                position: relative;
                i {
                    font-size: 13px;
                }
                span {
                    font-weight: 700;
                }
                .reset-form-filter{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: #868686;
                    border: 1px solid #868686;
                    border-radius: 50%;
                    padding: 0;
                    font-size: 10px;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    color: #fff;
                    cursor: pointer;
                    display: none;
                }
            }
            .search-input {
                display: block;
                box-sizing: border-box;
                position: relative;
                &_label{
                    display: block;
                    position: relative;
                    input {
                        padding-left: 40px;
                        padding-right: 15px;
                        width: 100%;
                        height: 100%;
                        border: 0;
                        border-radius: 5px;
                        height: 44px;
                        background: #f3f3f3;
                        transition: all .3s ease-out;
                        &::placeholder {
                            color: #ababab;
                        }
                        &:hover,
                        &:focus {
                            box-shadow: 0 2px 5px 0 #d9d9d9;
                            outline: none;
                        }
                    }
                    &:before {
                        content: "\f002";
                        font-family: 'Font Awesome 5 Pro';
                        position: absolute;
                        top: 13px;
                        left: 13px;
                        padding: 0px;
                        cursor: pointer;
                        border: none;
                        background: transparent;
                        color: #999;
                        z-index: 1;
                        font-size: 18px;
                    }
                }
            }
            &--dropdown{
                position: absolute;
                z-index: 100;
                top: 100%;
                left: 0;
                background: #fff;
                width: 100%;
                box-shadow: 0px 3px 13px -2px #d3d3d3;
                padding: 10px 15px;
                border-radius: 0 0 5px 5px;
                display: none;
                label.filter-checkbox-item{
                    margin: 0 -15px;
                    padding: 0 15px;
                    &.focus,&:hover{
                        background: #f7f7f7;
                    }
                    input[type="checkbox"]{
                        &:checked{
                            & + span{
                                padding-right: 25px;
                                em{
                                    display: none;
                                }
                            }
                        }
                    }
                    span{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 30px;
                        em{
                            position: absolute;
                            right: 0;
                            font-size: 11px;
                            font-style: normal;
                            color: #868686;
                            top: 10px;
                        }
                        &:hover{
                            padding-right: 25px;
                            em{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &--occupation,
        &--job-level{
            margin-bottom: 15px;
        }
        &--occupation-supporting,
        &--city{
            margin-top: 35px;
            .title {
                color: #ababab;
                margin-bottom: 15px;
                font-weight: 700;
            }
        }
        &--occupation-supporting{
            display: none;
            ul{
                display: none;
            }
        }
        &--city{
            ul{
                overflow: hidden;
            }
            li[class*="city-item-"]{
                display: none;
                visibility: hidden;
                opacity: 0;
                animation: fadeIn 0.5s linear;
            }
            li.city-item-65,
            li.city-item-66,
            li.city-item-67{
                display: block !important;
                visibility: visible;
                opacity: 1;
            }
            #filter-city-showmore{
                &:checked{
                    & + ul{
                        li[class*="city-item-"]{
                            display: block;
                            visibility: visible;
                            opacity: 1;
                        }
                        & + .show-more{
                            display: none;
                        }
                    }
                }
            }
            .show-more{
                font-size: 13px;
                color: $color-theme;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
    .selected-base{
        label{
            display: block;
            border-radius: 5px;
            box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.06);
            padding: 12px 30px 12px 15px;
            margin-bottom: 12px;
            line-height: 12px;
            cursor: pointer;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:after{
                content: '\f00c';
                font-family: "Font Awesome 5 Pro";
                width: 16px;
                height: 16px;
                display: inline-block;
                font-size: 10px;
                border-radius: 50%;
                text-align: center;
                line-height: 14px;
                position: absolute;
                right: 10px;
                top: 10px;
                font-weight: 400;
                background: $color-theme;
                color: #fff;
                line-height: 16px;
            }
            &:hover{
                &:after{
                    content: "\F00D";
                    background-color: #868686;
                    border-color: #868686;
                }
            }
        }
    }
    .filter-control{
        position: relative;
        &__text{
            cursor: pointer;
            display: block;
            width: 100%;
            padding: 10px 25px 10px 15px;
            font-size: 14px;
            line-height: 1.5;
            background-color: #fff;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            transition: all .15s ease-in-out;
            position: relative;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:after{
                content: '\f078';
                font-family: 'Font Awesome 5 Pro';
                color: #868686;
                position: absolute;
                right: 10px;
                top: 12px;
                font-size: 11px;
            }
            &.open{
                border-color: $color-theme;
                border-radius: 5px 5px 0 0;
                &:after{
                    content: '\f077';
                }
                & + .filter-control__dropdown{
                    display: block;
                }
            }
            span{
                &:first-child{
                    color: #868686;
                }
                &.txt{
                    font-weight: 500;
                    color: #2d2d2d;
                    &:not(:last-child):after{
                        content: ', ';
                        display: inline;

                    }
                }
            }
        }
        &__dropdown{
            display: none;
            position: absolute;
            z-index: 100;
            top: 100%;
            left: 0;
            background: #fff;
            width: 100%;
            box-shadow: 0px 3px 13px -2px #d3d3d3;
            padding: 10px 15px;
            border-radius: 0 0 5px 5px;
        }
    }
    label.filter-checkbox-item{
        display: block;
        font-weight: normal;
        input[type="checkbox"]{
            display: none;
            &:checked + span{
                color: #2d2d2d;
                font-weight: 500;
                &:after{
                    content: '\f00c';
                    display: block;
                    background: $color-theme;
                    color: #fff;
                }
                &:hover{
                    &:after{
                        content: '\f00d';
                        background-color: #868686;
                        border-color: #868686;
                    }
                }
            }
        }
        span{
            cursor: pointer;
            display: block;
            position: relative;
            color: #4a4a4a;
            padding: 8px 25px 8px 0;
            &:after{
                content: "\F067";
                font-family: "Font Awesome 5 Pro";
                color: $color-theme;
                width: 16px;
                height: 16px;
                border: 1px solid $color-theme;
                display: inline-block;
                font-size: 10px;
                border-radius: 50%;
                text-align: center;
                line-height: 14px;
                position: absolute;
                right: 0;
                top: 7px;
                display: none;
                font-weight: 400;
            }
            &:hover{
                &:after{
                    display: block;
                }
            }
        }
    }
    @media (max-width: 767px) {
        max-width: 100%;
        display: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

