.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom {
    background: rgba(69, 170, 123, 1);
    background: -moz-linear-gradient(
            left,
            rgba(69, 170, 123, 1) 0%,
            rgba(76, 177, 120, 1) 100%
    );
    background: -webkit-gradient(
            left top,
            right top,
            color-stop(0%, rgba(69, 170, 123, 1)),
            color-stop(100%, rgba(76, 177, 120, 1))
    );
    background: -webkit-linear-gradient(
            left,
            rgba(69, 170, 123, 1) 0%,
            rgba(76, 177, 120, 1) 100%
    );
    background: -o-linear-gradient(
            left,
            rgba(69, 170, 123, 1) 0%,
            rgba(76, 177, 120, 1) 100%
    );
    background: -ms-linear-gradient(
            left,
            rgba(69, 170, 123, 1) 0%,
            rgba(76, 177, 120, 1) 100%
    );
    background: linear-gradient(
            to right,
            rgba(69, 170, 123, 1) 0%,
            rgba(76, 177, 120, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aa7b', endColorstr='#4cb178', GradientType=1);
    font-weight: 700;
    color: #fff;

}

.btn-custom_light {
    border-color: #46ab7a;
    color: #46ab7a;
    background: none;
    &:hover {
        color: #46ab7a;
    }
}

.btn {
    &.focus, &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(70, 171, 123, 0.25);
    }
}
