.btn-save-job{
    &:after{
        content: 'Lưu lại';
        display: inline-block;
        margin-left: 5px;
    }
    &.saved{
        opacity: 0.7;
        background: #46ab7a;
        color: #fff !important;
        font-weight: normal;
        cursor: auto !important;
        &:after{
            content: 'Đã lưu';
        }
        i:before{
            font-weight: 700;
        }
    }
}
