.icon-save-job{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ababab;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background: #fff;
    border: none;
    &:before{
        content: 'Lưu lại';
        position: absolute;
        width: 60px;
        text-align: center;
        padding: 3px 0;
        right: 0;
        bottom: calc(100% + 5px);
        border-radius: 3px;
        background: #eee;
        color: #3ea37d;
        font-size: 13px;
        line-height: 1.3;
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        transition: all linear .3s;
    }
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 2.5px 0 2.5px;
        border-color: #eee transparent transparent transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 20px);
        opacity: 0;
        visibility: hidden;
        transition: all linear .3s;
    }
    &:hover{
        background: #eee;
        color: $color-theme;
        &:before{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        &:after{
            transform: translate(-50%,0);
            opacity: 1;
            visibility: visible;
        }
    }
    i{
        font-weight: 400;
    }
    &.saved{
        color: #3ea37d !important;
        cursor: auto !important;
        &:before{
            content: 'Đã lưu';
            background: #3ea37d;
            color: #fff;
        }
        &:after{
            border-color: #3ea37d transparent transparent transparent;
        }
        i{
            font-weight: 900
        }
        &:hover{
            opacity: 1;
        }
    }
}
