.btn-share-icon{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    i{
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: $color-theme;
        font-size: 14px;
        &[class*="fa-facebook"]{
            background: #4267b2;
        }
        &[class*="fa-linkedin"]{
            background: #0077b5;
        }
    }
}
