.btn-follow-customer {
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    span {
        border: 1px solid #3ea37d;
        border-radius: 20px;
        display: block;
        background: none;
        color: #3ea37d;
        font-size: 13px;
        padding: 5px 10px;

        &.active {
            color: #fff;
            background: #3ea37d;
        }
    }
}
