.checkbox-switch{
    display: inline-block;
    width: 100%;
    max-width: 35px;
    cursor: pointer;
    input[type="checkbox"]{
        display: none;
        & + .btn-switch{
            width: 100%;
            height: 20px;
            background-color: #ccc;
            display: block;
            border-radius: 50px;
            position: relative;
            transition: all linear .2s;
            &:before{
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                background: #fff;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                transition: all linear .2s;
            }
        }
        &:checked + .btn-switch{
            background: $color-theme;
            &:before{
                left: calc(100% - 18px);
            }
        }
    }

}
