.component-posts-item-sidebar{
    padding: 15px 0;
    border-bottom: 1px dotted #eaeaea;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .posts-item-thumb{
        width: 50px;
        position: relative;
        a{
            display: inline-block;
        }
        img{
            width: 100%;
            height: 50px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
        }
        .post-order{
            position: absolute;
            font-weight: 600;
            font-size: 10px;
            color: #fff;
            border: 1px solid #fff;
            background-color: #3ea37d;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            line-height: 14px;
            bottom: 0;
            right: 0;
            text-align: center;
        }
    }
    .posts-item-content{
        width: calc(100% - 50px);
        padding-left: 15px;
        .posts-item-title{
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            a{
                color: #2d2d2d;
            }
        }
        .posts-item-auth{
            font-size: 13px;
            color: #ababab;
            line-height: 1;
            .name{
                color: inherit;
                font-weight: bold;
                margin-right: 5px;
                padding-right: 9px;
                border-right: 1px solid #eaeaea;
            }
        }
    }
}
