.component-how-item {
    img{
        display: block;
        width: 100%;
        display: block;
        width: 100%;
    }
    .title {
        font-weight: normal;
        color: #ababab;
        font-size: 13px;
        line-height: 1.38;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
}
