@import "button-like-heart";
@import "button-follow-customer";
.component-posts-item-large{
    padding:30px 0 10px;
    border-bottom: 1px solid #eaeaea;
    &:first-child{
        padding-top: 0;
    }
    .posts-item-company{
        display: -webkit-flex;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            display: block;
            border: solid 1px rgba(0, 0, 0, 0.08);
        }
        .name{
            padding-left: 15px;
            h5{
                font-weight: 700;
                color: #2d2d2d;
                font-size: 16px;
                margin-bottom: 4px;
                a{
                    color: #2d2d2d;
                }
            }
            p{
                font-size: 12px;
                margin-bottom: 0;
                color: #ababab;
            }
            @media(max-width: 500px){
                padding-left: 10px;
                h5{
                    font-size: 14px;
                }
            }
        }
        .btn-follow-customer{
            margin: 0;
        }
    }
    .posts-item-thumb{
        margin-bottom: 25px;
        a{
            display: block;
        }
        img{
            display: block;
            width: 100%;
            height: 286px;
            object-position: center;
            object-fit: cover;
            @media(max-width: 1199px){
                height: 239px;
            }
            @media(max-width: 991px){
                height: 176px;
            }
            @media(max-width: 767px){
                height: 200px;
            }
            @media(max-width: 575px){
                height: 214px;
            }
            @media(max-width: 414px){
                height: 150px;
            }
            @media(max-width: 375px){
                height: 135px;
            }
        }
    }
    .posts-item-title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        a{
            color: #2d2d2d;
            &:hover{
                color: #3ea37d;
            }
        }
        @media (max-width: 991px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    .posts-item-desc{
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
    }
    .posts-item-auth{
        font-size: 13px;
        color: #ababab;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_info{
            display: -webkit-flex;
            display: flex;
            align-items: center;
            .auth-avatar{
                margin-right: 10px;
                img{
                    border: solid 1px rgba(0, 0, 0, 0.08);
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                }
            }
            .auth-name{
                h3{
                    display: inline-block;
                    margin-right: 25px;
                    a{
                        color: #2d2d2d;
                    }
                    @media (max-width: 450px) {
                        margin: 0;
                        display: block;
                    }
                }
            }
        }
        &_like{
            .like-count{
                padding-right: 10px;
                margin-right: 14px;
                border-right: 1px solid #ccc;
            }
        }
    }
}
