.job-item-tag{
    .tag-list {
        display: inline;
        .tag-item {
            border: 1px solid #3ea37d;
            border-radius: 15px;
            color: #3ea37d;
            font-size: 12px;
            padding: 3px 10px;
            margin: 0 3px 5px 0;
            text-decoration: none;
            display: inline-block;

            &.active {
                border-radius: 10px;
                background-color: #ffeaea;
                border-color: #ffeaea;
                color: #f6161f;
            }
        }
    }

    .tag-hot-job{
        display: inline;
        span{
            border: 1px solid #ffeaea;
            font-size: 12px;
            padding: 3px 10px;
            margin: 0 3px 5px 0;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            background-color: #ffeaea;
            color: #f6161f;
        }
    }
}

