.component-posts-item {
    margin-bottom: 30px;
    .posts-item-thumb{
        display: block;
        img{
            display: block;
            width: 100%;
        }
    }
    .posts-item-title {
        line-height: 1.57;
        padding: 10px 0 0;
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        min-height: 52px;
        a {
            color: #2d2d2d;
        }
        @media(max-width: 767px){
            min-height: auto;
        }
    }
    .posts-item-auth {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #eaeaea;
        .avatar {
            display: block;
            float: left;
            width: 35px;
            margin-right: 6px;
            img{
                width: 100%;
                height: 35px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .name {
            font-weight: normal;
            font-size: 13px;
            padding: 3px 0;

            a {
                color: #2d2d2d;
            }
        }
        .desc {
            font-size: 12px;
            color: #ababab;
        }
    }
}
