.component-company-small{
    box-shadow: 1.5px 2.6px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    overflow: hidden;
    a{
        display: block;
    }
    .company-small_thumb{
        img{
            display: block;
        }
    }
    .company-small_content{
        padding: 10px 15px;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 3;
        .company-small_avatar{
            width: 50px;
            height: 50px;
            -o-object-fit: cover;
            object-fit: cover;
            margin-top: -25px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        .company-small_name{
            padding-left: 15px;
            color: #2d2d2d;
        }
    }
}
