.component-who {
    .item {
        text-align: center;
        display: block;
        padding-bottom: 25px;
        position: relative;
        height: 100%;
        &:hover{
            opacity: 1;
        }
        &.active:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 15px 10px;
            border-color: transparent transparent #eff7f5 transparent;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }

        .avatar {
            width: 100%;
            display: block;
            margin: 0 auto 15px;
            max-width: 110px;
            border-radius: 50%;
            transition: all linear .2s;
            padding: 5px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            opacity: 0.8;
        }
        &.active {
            .avatar {
                padding: 0px;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
                opacity: 1;
            }
        }
        .position {
            font-size: 12px;
            color: #ababab;
            margin-top: 5px;
            line-height: 1.57;
        }

        &_content {
            color: #4a4a4a;
            line-height: 1.57;
            border-radius: 4px;
            background-color: #eff7f5;
            padding: 15px 20px;
        }
    }

    @media (max-width: 575px) {
        .item {
            min-height: auto;
            padding-bottom: 10px;

            .title, .desc {
                display: none;
            }
        }
        .row {
            margin: 0 -5px
        }
        .col-3 {
            padding: 0 5px;
        }
    }
}
