.component-posts-item-small{
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    .posts-item-thumb{
        a{
            display: block;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    .posts-item-title{
        margin: 10px 0;
        line-height: 1.37;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        a{
            color: #2d2d2d;
        }
    }
    .posts-item-like{
        color: #ababab;
        font-size: 13px;
    }
}
