.component-table-info {
    margin-top: -15px;
    line-height: 1.3;
    width: 100%;
    span {
        color: #3ea37d;
    }
    .tab {
        display: inline;
        padding: 3px 10px;
        border-radius: 15px;
        margin-right: 5px;
        background-color: #f8f9f9;

        &:first-child {
            margin-left: -10px;
        }
    }

    tr {
        border-bottom: 1px dashed #eaeaea;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border: none;
        }

        td {
            padding: 15px 0;
            vertical-align: middle;

            &:first-child {
                color: #4d4d4d;
                width: 33.33333%;
                padding-right: 10px;
            }
        }
        @media (max-width: 450px) {
            padding: 10px 0 !important;
            display: block;
            td{
                display: block;
                width: 100% !important;
                padding: 0 !important;
                &:first-child{
                    margin-bottom: 5px;
                    font-weight: 300;
                }
            }
        }
    }
}
