.component-posts-item-headhunter{
    display: -webkit-flex;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    .posts-item-thumb{
        width: 90px;
        height: 60px;
        img{
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .posts-item-content{
        width: calc(100% - 90px);
        padding-left: 10px;
        font-size: 13px;
        .posts-item-tag{
            color: $color-theme;
            margin-bottom: 7px;
        }
        .posts-item-title{
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            color: #2d2d2d;
        }
    }
}
