@import "button-like-heart";
.component-posts-item-box{
    background: #fff;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: all linear .3s;
    &:hover{
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
        opacity: 1;
    }
    .posts-item-thumb{
        display: block;
        img{
            width: 100%;
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .posts-item-content{
        padding: 25px 15px 0px;
        position: relative;
        .posts-item-title{
            line-height: 1.57;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            margin-bottom: 10px;
            font-size: 14px;
            a{
                color: #2d2d2d;
            }
        }
        .posts-item-desc{
            color: #4a4a4a;
            font-size: 14px;
            line-height: 1.67;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
        }
    }
    .posts-item-activities{
        font-size: 13px;
        color: #ababab;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        .like-count{
            border-right: 1px solid #dbdbdb;
            padding-right: 10px;
            margin-right: 6px;
        }
    }

}
