.component-user-sidebar{
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .user-avatar{
        width: 65px;
        img{
            display: block;
            width: 100%;
            height: 65px;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .user-content{
        width: calc(100% - 65px);
        padding-left: 15px;
        .user-name{
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1.37;
            a{
                color: #2d2d2d
            }
        }
        .user-desc{
            color: #4a4a4a;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .user-avatar{
            width: 50px;
            img{
                height: 50px;
            }
        }
        .user-content {
            width: calc(100% - 50px);
            padding-left: 10px;
            .user-name{
                font-size: 15px;
                margin-bottom: 0.5rem;
            }
            .user-desc{
                font-size: 13px;
            }
        }
    }
}
