.component-title {
    margin-bottom: 25px;

    .title {
        text-transform: uppercase;
        margin-bottom: 10px;
        span{
            color: #3ea37d;
        }
    }

    .desc {
        color: #ababab;
        line-height: 1.37;
        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 2px;
            background-color: #3ea37d;
            margin-right: 15px;
        }
    }

    & + .view-more {
        float: right;
        margin-top: -39px;
        color: #ababab;

        &:hover {
            color: #3ea37d;
        }

        @media (max-width: 575px) {
            margin: 0 0 10px;
            float: none;
            text-align: right;
            display: block;
        }
    }
}
