.component-job-item-save{
    position: relative;
    .job-item-thumb{
        display: block;
        overflow: hidden;
        img{
            width: 100%;
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
            transition: all ease .5s;
            height: 137px;
            @media(max-width: 1199px){
                height: 114px;
            }
            @media(max-width: 991px){
                height: 129px;
            }
            @media(max-width: 767px){
                height: 94px;
            }
            @media(max-width: 575px){
                height: 214px;
            }
            @media(max-width: 414px){
                height: 150px;
            }
            @media(max-width: 375px){
                height: 135px;
            }
        }
    }
    .job-item-content{
        padding: 15px 0;
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            min-height: 42px;
            a{
                color: #2d2d2d;
                font-size: 16px;
                line-height: 1.37;
            }
        }
        .desc{
            color: #ababab;
            line-height: 1.37;
            margin-top: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            min-height: 57px;
        }
        @media (max-width: 575px) {
            .title, .desc{
                min-height: auto;
            }
        }
    }
    .job-item-company{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .avatar{
            img{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .name{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
            width: calc(100% - 50px);
            padding-left: 15px;
        }
    }
    &:hover{
        .job-item-thumb{
            img{
                transform: scale(1.1);
            }
        }
        .job-item_btn-delete{
            visibility: visible;
            opacity: 1;
        }
    }
    .job-item_btn-delete{
        background: #fff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 31px;
        font-size: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        visibility: hidden;
        transition: all linear .3s;
        opacity: 0;
        cursor: pointer;
    }
}
