@import "component-tag-list";
.component-job-item{
    .job-item-thumb{
        a{
            display: block;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    .job-item-tag{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        padding: 15px 0 10px;
        .locale{
            font-size: 13px;
            padding: 5px 0;
            color: #868686;
        }
    }
    .job-item-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        a{
            color: #2d2d2d;
            font-size: 16px;
        }
    }
}
