.input-datetimepicker{
    .input-group-addon{
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dbdbdb;
        border-left: 0;
        font-size: 18px;
        border-radius: 0 5px 5px 0;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 200px;
    max-width: 100%;
    width: auto;
    &.bottom:before,
    &.bottom:after {
        display: none;
    }
    table td,
    table th {
        border-radius: 0;
    }
    table td.old, table td.new {
        color: #bbb;
    }
    table td.today:before {
        border-bottom-color: $color-theme;
        right: 1px;
        bottom: 1px;
    }
    table td.active,
    table td.active:hover,
    table td span.active {
        background-color: $color-theme;
        text-shadow: none;

        &.today:before {
            border-bottom-color: #fff;
        }
    }
    table th {
        height: 30px;
        line-height: 30px;
        padding: 0;
        width: 30px;
        font-size: 13px;
        &.picker-switch {
            width: auto;
        }
    }
    table tr:first-of-type th {
        border-bottom: 1px solid #eaeaea;
    }
    table td.day {
        height: 28px;
        line-height: 28px;
        padding: 0;
        width: auto;
        font-size: 13px;
    }
    table td span {
        border-radius: 0;
        height: 77px;
        line-height: 77px;
        margin: 0;
        width: 25%;
    }
    .datepicker-months tbody tr td,
    .datepicker-years tbody tr td,
    .datepicker-decades tbody tr td {
        padding: 0;
    }

    .datepicker-decades tbody tr td {
        height: 27px;
        line-height: 27px;

        span {
            display: block;
            float: left;
            width: 50%;
            height: 46px;
            line-height: 46px !important;
            padding: 0;
            &:not(.decade) {
                display: none;
            }
        }
    }
    .timepicker-picker table td {
        padding: 0;
        width: 30%;
        height: 20px;
        line-height: 20px;
        border-radius: 5px;
        &:nth-child(2) {
            width: 10%;
        }
        a,
        span,
        button {
            border: none;
            border-radius: 0;
            height: 56px;
            line-height: 56px;
            padding: 0;
            width: 100%;
        }
        span {
            color: #333;
            margin-top: -1px;
        }
        button {
            background-color: #fff;
            color: #333;
            font-weight: bold;
            font-size: 1.2em;
            &:hover {
                background-color: #eee;
            }
        }
    }
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
    border-top: 1px solid #34495e;
    a, span {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0;
        width: 100%;
    }
}
.todayText:before {
    content: "Today's Date"
}
