.footer {
    position: relative;
    z-index: 50;
    .info {
        padding: 50px 0;
        background: #f4f4f5;
        color: #2d2d2d;
        line-height: 21px;

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .wrap {
                max-width: 200px;
            }

            .company {
                .logo {
                    margin-bottom: 25px;

                    a {
                        display: block;
                    }

                    img {
                        max-height: 100%;
                    }
                }

                p {
                    margin-bottom: 25px;
                }

                .social {
                    li {
                        margin-right: 5px;
                        display: inline-block;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            display: inline-block;
                            width: 27px;
                            height: 30px;
                            background: url(../images/hexagonal.png);
                            background-size: contain;
                            text-align: center;
                            line-height: 32px;
                            color: #ababab;
                        }
                    }
                }

                @media(max-width: 991px) {
                    width: 100%;
                    .wrap {
                        max-width: 100%;
                        margin-bottom: 30px;
                        text-align: center;
                    }
                }
            }

            .title {
                font-weight: 700;
                font-size: 14px;
                padding: 14px 0px;
                margin: 0;
                margin-bottom: 25px;
            }

            .menu {
                li {
                    padding-bottom: 15px;

                    a {
                        color: #4a4a4a;
                    }
                }
            }
        }
    }

    .copyright {
        background: #eaeaeb;
        color: #ababab;
        font-size: 13px;
        padding: 19px 0;

        .holder {
            display: flex;
            justify-content: space-between;
        }

        .right {
            a {
                color: #ababab;
            }
        }
    }

    @media screen and (max-width: 1170px) {
        .holder {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 850px) {
        .info {
            .list {
                flex-wrap: wrap;
                margin: 0 -10px;

                .item {
                    width: 50%;
                    margin-bottom: 30px;
                    text-align: center;
                }

                .wrap {
                    max-width: 100%;
                    padding: 0 10px;
                }

                .company {
                    .social {
                        justify-content: center;
                    }
                }

                .title {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .info {
            padding: 20px 0;

            .list {
                .item {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }

        .copyright .holder {
            text-align: center;
            display: block;
            line-height: 22px;
        }
    }
}
