.frm-apply__box{
    &-row{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        .left{
            width: 93px;
        }
        .right{
            width: calc(100% - 93px);
            line-height: 1.37;
        }
        @media (max-width: 575px) {
            display: block;
            .left,.right{
                width: 100%;
            }
            .left label{
                margin-bottom: 5px;
                font-size: 13px;
            }
        }
    }
    .avatar{
        text-align: center;
        img{
            width: 64px;
            height: 64px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .name{
        font-size: 16px;
    }
    .link-info{
        color: #349d7b;
    }
    .form-control{
        font-size: 14px;
        height: 40px;
        &:focus{
            box-shadow: none;
            border-color: #46ab7a;
        }
        &.error{
            border-color: #f00;
            & + .inp-err{
                font-size: 12px;
                color: #f00;
                display: block;
                margin-top: 5px;
            }
        }
    }
    .btn-UpFile{
        display: inline-block;
        position: relative;
        overflow: hidden;
        label{
            font-weight: bold;
            font-size: 14px;
            height: 40px;
            line-height: 27px;
            span{
                transition: all 0.3s;
                display: inline-block;
            }
            &::before {
                color: #46ab7a;
                content: "\F382";
                font-family: "Font Awesome 5 Pro";
                font-size: 130%;
                height: 100%;
                left: 0;
                line-height: 40px;
                position: absolute;
                top: -100%;
                transition: all 0.3s;
                width: 100%;
            }
        }
        .hasFile{
            display: none;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding: 6px;

            &_around{
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
                align-items: center;
                .icon-file{
                    width: 37px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .hasFile_info{
                    width: calc(100% - 37px);
                    display: flex;
                    display: -webkit-flex;
                    justify-content: space-between;
                    padding: 0 10px 0 15px;
                    .info_right{
                        color: #ababab;
                        font-size: 13px;
                        .del-file{
                            font-size: 14px;
                            margin-left: 10px;
                            position: relative;
                            z-index: 100;
                            cursor: pointer;
                            &:hover{
                                color: #f00;
                            }
                        }
                    }
                }
                .alert-done{
                    color: #3ea37d;
                    font-size: 13px;
                }
            }
        }
        input[type="file"]{
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            width: 100%;
            opacity: 0;
        }
        &:hover,&:focus{
            label{
                span{
                    transform: translateY(38px);
                }
                &::before{
                    top: 0
                }
            }
            .hasFile{
                border-color: #46ab7a;
            }
        }
        &.active{
            display: block;
            label{
                display: none;
            }
            .hasFile{
                display: block;
            }
            & + .inp-err + .note{
                display: none;
            }
            input[type="file"]{
                visibility: hidden;
            }
        }
        &.error{
            label{
                color: #f00;
                border-color: #f00;
                &:before{
                    color: #f00;
                }
            }
            & + .inp-err{
                color: #f00;
                display: block;
                font-size: 12px;
            }
        }
    }
    .note{
        color: #ababab;
        font-size: 12px;
    }
}
