    .fr-inline{
        z-index: 1000;
        .fr-quick-insert{
            a.fr-floating-btn{
                color: $color-theme;
                svg{
                    fill: $color-theme;
                }
            }
            @media (max-width: 500px) {
                top: 20px !important;
                left: 0 !important;
            }
        }
        .fr-qi-helper{
            @media (max-width: 500px) {
                left: 20px !important;
            }
        }
    }
    #dropdown-menu-paragraphFormat-1{
        h1{
            font-size: 2em;
        }
        h2{
            font-size: 1.5em;
        }
        h3{
            font-size: 1.17em;
        }
        h4{
            font-size: 1em;
        }
        h5{
            font-size: 0.83em;
        }
        h6{
            font-size: 0.67em;
        }
    }

