.header-sub-menu{
    background: #f0f0f0;
    overflow: auto;
    &_ul{
        margin: 0;
        list-style: none;
        justify-content: center;
        font-size: 13px;
        padding: 8px 10px;
        text-align: center;
        white-space: nowrap;
        a{
            color: #868686;
        }
        li{
            display: inline-block;
            padding: 7px 10px;
            position: relative;
            &.active{
                a{
                    color: #000;
                    &:before{
                        content: '';
                        width: 30px;
                        height: 2px;
                        background: $color-theme;
                        bottom: -8px;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                    }
                }
            }
        }
    }
    &::-webkit-scrollbar {
        height: 3px;
    }
    &:hover::-webkit-scrollbar{
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #f7f7f7;
    }
    &::-webkit-scrollbar-thumb {
        background: #ababab;
        border-radius: 30px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
