.header-forgot {
    padding: 10px 20px;
    display: flex;
    border-bottom: #efefef solid 1px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    position: relative;
    z-index: 99999;
    .logo {
        line-height: 0;
        width: 40px;
        height: 44px;
        display: block;
        color: #ababab;

        img {
            width: 100%;
        }
    }

    .menu {
        display: flex;
        padding: 0 0 0 40px;

        li {
            margin-right: 40px;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 700;
                color: #282828;

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .right {
        margin-left: auto;
        padding-left: 15px;

        .register {
            color: #4a4a4a;

            .link {
                color: #57bc72;
            }
        }

        .hidden {
            display: none;
        }
    }

    @media screen and (max-width: 1200px) {
        .menu {
            li {
                margin-right: 20px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        .right {
            margin-left: auto;
        }
    }

    @media screen and (max-width: 768px) {
        .menu {
            width: 100%;
            justify-content: center;
            padding: 0;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 510px) {
        .menu {
            padding: 0;
            width: 100%;
            justify-content: center;

            li:last-child {
                margin: 0;
            }
        }
    }
}
