.header-signin {
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;

    .holder {
        max-width: 1720px;
    }

    .logo {
        float: left;
        padding: 18px 80px 18px 0;

        a {
            height: 44px;
            width: 165px;
        }
    }

    .menu {
        float: left;

        ul {
            display: flex;
            padding: 18px 0;

            li {
                margin-right: 35px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-weight: 500;
                    font-size: 15px;
                    color: #fff;
                    display: block;
                    line-height: 44px;
                }
            }
        }
    }

    .button {
        float: right;
        padding: 20px 0;

        a {
            font-size: 15px;
            font-weight: 700;
            border: 1px solid #fff;
            line-height: 40px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            color: #fff;
            display: block;
            padding: 0 30px;
        }
    }

    @media screen and (max-width: 1720px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 768px) {
        .logo,
        .menu,
        .button {
            float: none;
        }

        .logo {
            padding: 10px 0;
            text-align: center;
        }

        .menu ul {
            padding: 0;
            justify-content: center;
        }

        .button {
            margin: 0 auto;
            max-width: 200px;
            padding: 10px 0;

            a {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 400px) {
        .menu ul li {
            margin-right: 15px;

            a {
                font-size: 13px;
            }
        }
    }
}
