.inputCroppieImage{
    background-color: #eee;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &_inpPr{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all linear .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '';
            position: absolute;
            border: 1px dashed #fff;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            transition: all ease .3s;
            opacity: 0;
        }
        label{
            font-size: 18px;
            font-weight: 300;
            i{
                font-size: 1.2em;
                position: relative;
                display: inline-block;
                float: left;
                margin-right: 5px;
                margin-top: -1px;
            }
            @media(max-width: 767px){
                font-size: 14px;
            }
        }
        input[type="file"]{
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

        }
        &.dragover,&:hover{
            box-shadow: 0px 0px 120px -6px #ccc inset;
            &:before{
                top: 30px;
                left: 30px;
                right: 30px;
                bottom: 30px;
                opacity: 1;
                @media(max-width: 767px){
                    top: 10px;
                    left: 10px;
                    right: 10px;
                    bottom: 10px;
                }
            }
        }
    }
    &_crop{
        display: none;
        .upload-crop-demo{
            .cr-viewport{
                border: none;
            }
            .cr-slider-wrap{
                display: none;
            }
        }
        .upload-crop-button{
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 1;
            transition: all linear .2s;
            .btn{
                font-size: 14px;
                background: rgba(255,255,255,0.4);
                &:hover{
                    color: $color-theme;
                    background: #fff;
                }
            }
        }
    }
    &.hasImg{
        .inputCroppieImage_inpPr{
            opacity: 0;
            background: rgba(238, 238, 238, 0.12);
            label{
                background: rgba(102, 102, 102, 0.52);
                padding: 5px 10px 3px;
                border-radius: 5px;
                color: #fff;
            }
            &:hover,&.dragover{
                opacity: 1;
            }
        }
    }
}
