.modal-delete-member{
    .modal-header{
        .close{
            font-size: 18px;
        }
    }
    .modal-title{
        font-size: 18px;
    }
    .btn{
        font-size: 14px;
    }
    .btn-grey:hover{
        color: #2d2d2d;
    }
    .modal-body{
        padding: 40px 15px 50px;
        text-align: center;
        p{
            color: #4d4d4d;
        }
        .member-avatar{
            width: 65px;
            height: 65px;
            margin: 20px 0;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .member-desc{
            color: #ababab;
            margin-top: 5px
        }
    }
}
