.modal-edit-member{
    .modal-header{
        .close{
            font-size: 18px;
        }
    }
    .modal-title{
        font-size: 18px;
    }
    .btn{
        font-size: 14px;
    }
    .btn-grey:hover{
        color: #2d2d2d;
    }
    .modal-body{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 15px;
        .member-avatar{
            width: 125px;
            height: 125px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
        }
        .info{
            width: calc(100% - 125px);
            padding-left: 20px;
            .member-name{
                font-weight: bold;
                margin-bottom: 20px;
            }
            .member-desc{
                margin-top: 15px;
            }
        }
        .about{
            margin-top: 15px;
            width: 100%;
            padding-left: 25px;
            position: relative;
            &:before{
                content: '\f044';
                font-family: 'Font Awesome 5 Pro';
                position: absolute;
                color: #ababab;
                left: 0;
                top: 3px;
            }
            .member-about{
                min-height: 100px;
                padding: 0;
                border: none;
                line-height: 1.57;
            }
        }
        @media(max-width: 425px){
            .member-avatar{
                margin: 0 auto;
            }
            .info{
                width: 100%;
                padding: 0;
                margin-top: 15px;
                .member-name{
                    text-align: center;
                }
            }
        }
    }
}
