.block-pagination {
    display: flex;
    justify-content: center;
    overflow: auto;
}
.pagination {
    margin-top: 40px;
    li{
        .page-link{
            padding: 0;
            font-size: 13px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 29px;
            color: #3da37d;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        &.active{
            .page-link{
                background: #3da37d !important;
                border-color: #3da37d;
            }
        }
    }
}
