.reset-semantic-calendar{
    position: relative;
    > input{
        padding-left: 40px;
    }
    > label{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        color: #ababab;
        font-size: 16px;
    }
    .ui.popup{
        padding: 0;
        font-size: 14px;
    }
    .ui.table{
        border: none;
    }
}
