.select2-container {
    display: block;
    width: 100% !important;

    .select2-selection {
        border-color: #dbdbdb;
        &__placeholder{
            font-weight: normal;
            color: #b3abb3;
        }
        &[aria-expanded="true"] {
            background: none !important;
            border-color: $color-theme;
        }

        &__choice {
            border: none;
            border-radius: 0;
            background: #eaeaea;
            padding: 3px 5px;
            color: #4a4a4a;

            &__remove {
                float: right;
                margin-right: 0;
                margin-left: 2px;
                color: #999 !important;

                &:hover {
                    color: #777 !important;
                }
            }
        }

        &--single {
            height: 40px;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .select2-selection__rendered {
                height: 40px;
                line-height: 40px;
            }
        }

        ul.select2-selection__rendered {
            line-height: 1.3;
            height: auto;
            min-height: 38px;
            display: block;
            padding: 2px 10px 6px;

            .select2-search--inline .select2-search__field {
                margin-top: 8px;
                &::-webkit-input-placeholder {
                    color: #ababab;
                }

                &:-ms-input-placeholder {
                    color: #ababab;
                }

                &::placeholder {
                    color: #ababab;
                }
            }
        }
    }

}
