/* custom-checkbox */
.custom-checkbox {
    position: relative;
    padding-left: 26px;

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    input[type="checkbox"] + label {
        margin: 0;
        cursor: pointer;
    }

    input[type="checkbox"] + label::after,
    input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }

    input[type="checkbox"] + label::before {
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        height: 16px;
        width: 16px;
        left: 0;
    }

    input[type="checkbox"]:checked + label::after {
        content: "\f00c";
        left: 3px;
        font-family: Font Awesome\ 5 Pro;
        font-weight: 900;
        font-size: 11px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }
}
/* END: custom-checkbox */
