.select-occupation{
    position: relative;
    z-index: 1;
    &__result{
        color: #ababab;
        padding-right: 30px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:after{
            content: '\f107';
            font-family: 'Font Awesome 5 Pro';
            font-weight: 700;
            position: absolute;
            right: 13px;
            top: 9px;
            color: #ababab;
        }
        &.select-open{
            border: 1px solid $color-theme;
            border-radius: 3px 3px 0 0;
            color: transparent !important;
            &:after {
                content: '\f106';
            }
        }
        &.hasValue{
            font-weight: 500;
            color: #4a4a4a;
        }
    }
    &__list-options{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1000;
        background: #fff;
        border: 1px solid #eaeaea;
        border-radius: 0 0 3px 3px;
        border-top: none;
        display: none;
        & > li{
            position: relative;
            &:hover{
                .select-occupation__option__children{
                    display: block;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;

        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #bbb;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    &__option{
        padding: 15px;
        border-top: 1px solid #eaeaea;
        display: block;
        transition: all linear .2s;
        cursor: pointer;
        &__children{
            position: absolute;
            left: 100%;
            top: 0;
            width: 270px;
            border: 1px solid #eaeaea;
            display: none;
            padding: 20px;
            background: #fff;
            &:before{
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 10px 8px 0;
                border-color: transparent #eaeaea transparent transparent;
                position: absolute;
                right: 100%;
                top: 14px
            }
            @media(max-width: 575px){
                display: none !important;
            }
        }
        &:hover{
            padding-left: 20px;
            color: $color-theme;
            font-weight: 500;
        }

        &.selected{
            font-weight: 500;
            color: $color-theme;
        }
    }
}
.select-occupation-sup{
    display: none;
}
