@import 'global';
@import '../../../elements/inputCroppieImage';
@import '../../../elements/froala-editor-custom';
@import '../../../elements/alert-form-success';
.dashboard-body .dashboard-page .dashboard-main .dashboard-header{
    position: static;
    .title{
        width: 100% !important;
    }
}
.dashboard-news-detail {
    padding: 30px 0 80px;
    @media(max-width: 767px) {
        padding-bottom: 40px;
    }

    &_box {
        background: #fff;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);

        .box-width {
            @media (min-width: 1200px) {
                max-width: 730px;
                margin: 0 auto;
            }
        }
    }

    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .news-auth {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-right: 15px;

            &_avatar {
                img {
                    display: block;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    border: 1px solid #eaeaea;
                    margin-right: 7px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

            &_name {
                a {
                    color: #2d2d2d;
                }
            }

            &_desc {
                font-size: 13px;
                color: #868686;
                margin-top: 2px;
            }
        }

        .news-time {
            font-size: 13px;
            color: #868686;
        }
    }

    &_title {
        textarea {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
            border: none;
            box-shadow: none;
            margin: 25px 0px;
            display: block;
            width: 100%;
            outline: none !important;
            color: #2d2d2d;

            &::-webkit-input-placeholder {
                color: #ababab;
            }

            &:-ms-input-placeholder {
                color: #ababab;
            }

            &::placeholder {
                color: #ababab;
            }

            @media(max-width: 767px) {
                font-size: 20px;
                margin: 10px 0;
            }
        }
    }

    &_content {
        line-height: 1.8;
        margin-bottom: 50px;
        min-height: 80px;
        text-align: justify;
        position: relative;
        z-index: 1;
    }

    &_submit {
        border-top: 1px solid #eaeaea;
        padding: 15px;
        text-align: right;
        position: sticky;
        bottom: 0;
        background: #fff;
        z-index: 2;

        .btn {
            font-size: 14px;
            margin-left: 5px;
        }
    }

    .select2-container {
        width: 200px !important;
        margin-bottom: 10px;

        .select2-selection {
            &:focus {
                outline: none;
            }

            &__rendered {
                height: 40px;

                line-he {
                    ght: 40px;
                }

                &--single {
                    height: 40px;
                }
            }
        }
    }

    .select2-container {
        z-index: 9;
    }
    .fr-wrapper>div:first-child:not(.fr-element)>a,[data-f-id="pbf"]{
        background: #ffffff !important;
    }

}

