/* @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

/* Common */
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    min-width: 320px;
}
.color-theme{
    color: $color-theme;
}
ul.clearfix {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a:hover,
a {
    text-decoration: none;
    color: #4a4a4a;
}

a:hover,
button:hover {
    opacity: 0.7;
}

.btn:hover {
    color: #fff;
}

.clear {
    display: block;
    clear: both;
}

.holder {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

input:focus,
button:focus {
    outline: none;
}
input.error{
    border-color: #f00;
    &:focus{
        border-color: #f00;
    }
}
.err-inp{
    color: #f00;
    font-size: 12px;
    display: none;
    line-height: 1.37;
    margin-top: 5px;
}
/* END: Common */
.txt-format{
    color: #4a4a4a;
    line-height: 1.8;
    p,ul,ol{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    ul{
        list-style: disc;
        padding-left: 20px;
        li{
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        ul{
            list-style: circle;
            li{
                margin-left: 0 !important;
            }
            ul{
                list-style: square;
            }
        }
    }
    ol{
        list-style: decimal;
        padding-left: 20px;
    }
    h1,h2,h3,h4,h5,h6{
        color: #2d2d2d;
        margin-bottom: 10px;
    }
    h1{
        font-size: 2em;
        line-height: 1.2;
    }
    h2{
        font-size: 1.5em;
        line-height: 1.2;
    }
    h3{
        font-size: 1.17em;
        line-height: 1.37;
    }
    h4{
        font-size: 1em;
    }
    h5{
        font-size: 0.83em;
    }
    h6{
        font-size: 0.67em;
    }
    table{
        border: none;
        border: 1px solid #ddd;
        border-right: 0;
        border-top: 0;
        width: 100%;
        margin-bottom: 10px;
        td,th{
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-left: 0;
            border-bottom: 0;
        }
    }
}
.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
}
/* header */
@import "../elements/header";
@import "../elements/header-forgot";
@import "../elements/header-signin";
/* END: header */
/* footer */
@import '../elements/footer';
/* END: footer */
/* btn-custom */
@import "../elements/button-custom";
/* END: btn-custom */
/*Component*/
@import '../elements/component-title';
/*End: Component*/
/* PAGINATION */
@import '../elements/pagination';
/* END PAGINATION */

.title-sidebar{
    text-transform: uppercase;
    color: #ababab;
    margin-bottom: 15px;
}
/* messages */
.messages {
    border-radius: 5px;
    padding: 5px 16px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #fff;

    &.error {
        background: #d52c27;
    }
}
/* END: messages */


/* not-image */
.not-image {
    background: #ccc;
    display: block;
}

/* END: not-image */
/* form-control */
.form-control{
    border-color: #dbdbdb;
    box-shadow: none;
    font-size: 14px;
    color: #2d2d2d;
    padding-top: 8px;
    padding-bottom: 8px;
    &::-webkit-input-placeholder {
        color: #ababab;
    }

    &:-ms-input-placeholder {
        color: #ababab;
    }

    &::placeholder {
        color: #ababab;
    }
}
.form-control:focus{
    box-shadow: none;
    border-color: $color-theme;
}
.form-control-gray,
.form-control-gray:focus {
    background: #f5f5f6;
    color: #ababab;
    border: none;
    font-size: 14px;
    padding: 14px 10px;
    border-radius: 8px;
    height: auto;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f6f6f6;
    opacity: 1;
    border-color: #f6f6f6;
    color: #868686;
}


/* END: form-control */
/* input-password */
.input-password {
    position: relative;

    input {
        padding-right: 58px;
    }

    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #acacac;
        height: 12px;
        width: 20px;
        display: inline-block;

        &.active::after {
            content: "";
            display: inline-block;
            height: 2px;
            width: 20px;
            background: #acacac;
            position: absolute;
            transform: rotate(-45deg);
            right: 0px;
            top: 5px;
        }

        img {
            vertical-align: 4px;
        }
    }
}
/* END: input-password */
/* Slick slider customise */
.slick-slide{
    &:focus{
        outline: none;
    }
}
.slick_nav {
    position: absolute;
    top: 50%;
    border: none;
    padding: 0;
    transform: translateY(-50%);
    color: #ababab;
    z-index: 1000;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 12px -1px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.slick_nav:hover {
    color: #2d2d2d;
}
.slick_prev {
    left: 0;
}
.slick_next {
    right: 0;
}
.slick-track{
    margin-left: inherit;
    margin-right: inherit;
}
/*End Slick slider customise*/
// animation
@import '../elements/animate';
// End animation
.fr-wrapper>div:first-child:not(.fr-element){
    z-index: -2 !important;
    &>a{
        background: #ffffff !important;
        max-height: 1px !important;
        padding: 1px !important;
        pointer-events: none !important;
        cursor: default !important;
    }
}

[data-f-id="pbf"]{
    display: none;
}
.fr-popup.fr-active{
    z-index: 1000 !important;
}
