.select-box .select2-container {
  width: 100% !important;
}

.select2-container {
  &--default {
    .select2-selection {
      &--single {
        border: 1px solid #e2e2e2;
        height: 44px;
        .select2-selection{
            &__placeholder{
                color: #ababab;
            }

            &__arrow {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                height: auto;
                width: auto;

                b {
                    display: none;
                }

                &:before {
                    font-family: "Font Awesome 5 Pro";
                    content: "\F107";
                    font-weight: 900;
                    display: inline-block;
                    color: #ababab;
                    pointer-events: none;
                    cursor: pointer;
                }
            } // .select2-selection__arrow

            &__rendered {
                padding-left: 10px;
                padding-right: 30px;
                height: 44px;
                line-height: 44px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
            } // .select2-selection__rendered
        }

      }

      &[aria-expanded="true"] {
        background: #3ea37d !important;
        span {
          color: #fff !important;
        }
      }
    } // .select2-selection

    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow {
          &:before {
            content: "\F106";
            color: #fff;
          }
        } // .select2-selection__arrow
      } // .select2-selection--single
    } // .select2-container--open

    .select2-results__option {
        &::-webkit-scrollbar {
            width: 3px ;
        }
      &--highlighted[aria-selected] {
        background-color: #fff;
        color: #3ea37d;
        font-weight: 500;
      }

      &[aria-selected=true] {
        background-color: #fff;
        font-weight: 500;
      }
    }
    .select2-search--dropdown {
      .select2-search__field {
        line-height: 24px;
        border: 1px solid #e2e2e2;
      }
    }

    .select2-dropdown {
      border: 1px solid #e2e2e2;
    }
  } // .select2-container__default

  .select2-results__options {
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;

    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #bbb;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  } // select2-results__options -- list option

  .select2-results__option {
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .3s;

    &:not(:last-child) {
      border-bottom: 1px solid #f4f4f4;
    }

    &:hover {
      padding-left: 25px;
      font-weight: 500;
    }
  }

} // .select2-container
