@import "global";
.inplace-email-layout{
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    background: #f7f7f7;
    margin: 40px auto;
    font-size: 14px;
    header{
        background: $color-theme;
        padding: 10px;
        color: #fff;
        font-size: 14px;
        overflow: hidden;
        img{
            width: 115px;
        }
        span{
            float: right;
            margin-top: 10px;
            font-size: 13px;
            a{
                color: #fff;
            }
        }
    }
    article{
        padding: 30px;
        line-height: 1.57;
        color: #4a4a4a;
        p{
            margin-bottom: 20px;
            color: #4a4a4a;
            &:first-child{
                font-size: 1.2em;
            }
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: $color-theme;
            }
        }
        center {
            text-align: center;
            a{
                background: #57bc72;
                color: #fff;
                padding: 10px;
                font-size: 15px;
                text-align: center;
                border-radius: 5px;
                font-weight: bold;
                margin-bottom: 30px;
                display: inline-block;
            }
        }

    }

    blockquote{
        padding: 20px 0;
        border-top: 1px dashed #dbdbdb;
        border-bottom: 1px dashed #dbdbdb;
        margin-bottom: 25px;
        font-size: 13px;
        p{
            margin-bottom: 8px;
            &:first-child{
                strong{
                    font-size: 14px;
                }
            }
            &:not(:first-child){
                color: #868686;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    footer{
        padding: 0 30px 30px;
        color: #ababab;
        line-height: 1.57;
    }
}
