@import '../global';

.dashboard-home-page{
    padding: 80px 0;
    @media(max-width: 1200px){
        padding: 40px 0
    }
    &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .title{
            font-size: 36px;
            color: #2d2d2d;
            font-weight: bold;
        }
        .btn{
            font-size: 14px;
        }
        @media (max-width: 575px) {
            display: block;
            text-align: center;
            .title{
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }
    &_list-step{
        padding-left: 40px;
        counter-reset: step;
        position: relative;
        &:before{
            content: '';
            background: #e3e3e3;
            position: absolute;
            width: 1px;
            top: 10px;
            bottom: 10px;
            left: 20px;
        }
        li{
            margin-top: 40px;
            padding-left: 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 40px;
            &:before{
                counter-increment: step;

                content: '\f00c';
                font-family: "Font Awesome 5 Pro";
                display: inline-block;
                width: 40px;
                height: 40px;
                right: 100%;
                background: #e3e3e3;
                color: #fff;
                position: absolute;
                border-radius: 50%;
                font-weight: bold;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
            }
            .step-title{
                padding-right: 15px;
                h3{
                    font-size: 18px;
                    color: #ababab;
                    font-weight: bold;
                    line-height: 1.3;
                }
                span{
                    margin-top: 7px;
                    display: block;
                    line-height: 1.37;
                    font-size: 12px;
                    color: #ababab;
                    a{
                        color: inherit;
                        text-decoration: underline;
                        display: inline-block;
                        &:hover{
                            color: $color-theme;
                        }
                    }
                }
            }
            .step-btn{
                min-width: 120px;
                display: inline-block;
                text-align: center;
                padding: 5px 10px;
                border-radius: 100px;
                line-height: 1.37;
                color: #868686;
                font-weight: bold;
                transition: all linear .2s;
                &:hover{
                    background: #fff;
                    color: $color-theme;
                    box-shadow: 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.12);
                }
            }
            &.active{
                &:before{
                    content: '0' counter(step);
                    background: #57bc72;
                    transform: scale(1.35);
                    font-family: inherit;
                    font-weight: 500
                }
                .step-title{
                    h3{
                        color: #2d2d2d;
                    }
                    span{
                        color: #868686;
                    }
                }
                .step-btn{
                    box-shadow: 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.12);
                }
            }
            @media(max-width: 575px){
                flex-wrap: wrap;
                justify-content: flex-end;
                &:before{
                    top: 0
                }
                .step-title{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 0;
                    h3{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
