@import "../global";

@import "../../../elements/reset-semantic-calendar";
@import "../../../elements/reset-Sweet-alert";
@import "../../../elements/reset-input-checkbox";
.dashboard-body .dashboard-page .dashboard-main .dashboard-header{
    .title{
        width: 100% !important;
    }
}
.dashboard-info-company{
    padding: 20px 0 40px;
    position: relative;
    z-index: 1;
    .section-info{
        background: #fff;
        margin-top: 15px;
        padding: 30px;

        &_form{
            max-width: 968px;
            .form-control{
                min-height: 40px;
                font-size: 14px;
            }
            .form-group{
                position: relative;
                .select2-hidden-accessible{
                    width: 100% !important;
                    height: 40px !important;
                    margin: 0 !important;
                }
                .note{
                    font-size: 12px;
                    color: #868686;
                    display: block;
                    line-height: 1.37;
                    margin-top: 5px;
                }
                &_map{
                    position: relative;
                    >textarea{
                        font-size: 12px;
                        /* scroolbar */
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #f1f1f1;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #bbb;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: $color-theme;
                        }
                    }
                }
                &_submit{
                    border-top: 1px dotted #eaeaea;
                    padding-top: 30px;
                    margin-top: 15px;
                    .btn{
                        min-width: 150px;
                        font-size: 14px;
                    }
                }
                &_address{
                    .row{
                        margin: 0 -0.5rem 15px;
                        position: relative;
                    }
                    [class*="col-"]{
                        padding: 0 0.5rem;
                    }
                    &_btnAdd{
                        text-align: right;
                        .btn{
                            font-size: 14px;
                        }
                    }
                    .select2-city{
                        &.error{
                            & + .select2-container .select2-selection{
                                border-color: #f00;
                            }
                        }
                    }
                    .err-inp{
                        margin: 0 0 5px;
                    }
                    &_branch,&_city{
                        position: relative;
                        >label{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 12px;
                            font-size: 16px;
                            color: #ababab;
                        }

                    }
                    &_branch{
                        >input{
                            padding-left: 35px;
                            position: relative;
                            background: transparent;
                            z-index: 2;
                        }
                    }
                    &_city{
                        >label{
                            z-index: 2;
                        }
                        .select2-container .select2-selection--single{
                            .select2-selection__rendered{
                                padding-left: 35px;
                            }
                            .select2-selection__placeholder{
                                color: #ababab;
                            }
                        }
                    }
                    &_remove{
                        position: absolute;
                        border: none;
                        background: none;
                        padding: 0;
                        font-size: 20px;
                        left: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #ababab;
                        &:hover{
                            opacity: 1;
                            color: #4a4a4a;
                        }
                    }
                }
                &_upload-image{
                    img{
                        margin-bottom: 10px;
                    }
                    input[type="file"]{
                        line-height: 30px;
                        display: block;
                    }
                }
                hr{
                    margin: 30px 0 10px;
                    border-style: dotted;
                }
            }
        }
        &_label{
            font-weight: 500;
            padding: 10px 0 5px;
            line-height: 1.37;
            span{
                display: block;
                font-weight: normal;
                color: #ababab;
                font-size: 14px;
                margin-top: 5px;
            }
        }
        &_toggle{
            font-size: 13px;
            margin: -39px 0 0 !important;
            float: right !important;
            &:after{
                content: '\f077';
                font-family: "Font Awesome 5 Pro";
                display: inline-block;
                margin-left: 5px;
            }
        }
        &.hide{
            padding-bottom: 1px;
            .section-info_form{
                display: none;
            }
            .section-info_toggle:after{
                content: '\f078';
            }
        }

        @media(max-width: 575px){
            padding: 30px 15px;
        }
    }
    @import "../../../elements/reset-select2-list-item";

}
.select2-container{
    z-index: 2 !important;
    .select2-selection--single .select2-selection__rendered{
        font-weight: normal;
        color: #2d2d2d;
    }
    .select2-selection ul.select2-selection__rendered{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
