@import "../global";
@import '../../../elements/component-tag-list';
@import '../../../elements/reset-select2-list-item';
@import '../../../elements/modal-delete-member';
@import '../../../elements/modal-edit-member';
.dashboard-members-list{
    padding: 30px 0 50px;
    &_th{
        font-weight: 600;
        padding: 0 15px 15px;
        [class*="col-"]:first-child{
            padding-left: 110px;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }

}
.dashboard-member-item{
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;
    .info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .avatar{
            img{
                width: 65px;
                height: 65px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            }
        }
        .title{
            padding-left: 30px;
            width: calc(100% - 65px);
            .name{
                color: $color-theme;
            }
            .desc{
                color: #ababab;
                font-size: 13px;
            }
        }
    }
    .control{
        .btn-control{
            border: 1px solid;
            padding: 0;
            color: #ababab;
            background: #fafafa;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            margin: 3px 5px 3px 0;
            font-size: 15px;
            line-height: 33px;
            cursor: pointer;
            &.btn-delete-member:hover{
                color: #f00;
            }
            &.btn-edit-member:hover{
                color: $color-theme;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &:hover{
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    &.waitting{
        .info{
            .title{
                .name{
                    font-weight: normal;
                    color: #2d2d2d;
                    margin-bottom: 5px;
                }
                .desc{
                    border: 1px solid #3ea37d;
                    border-radius: 15px;
                    color: #3ea37d;
                    font-size: 12px;
                    padding: 3px 10px;
                    margin: 0 3px 5px 0;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
        .authority,.about{
            color: #ababab;
        }
    }
}


.modal-add-member{
    .modal-header{
        .close{
            font-size: 18px;
        }
    }
    .modal-title{
        font-size: 18px;
    }
    .modal-dialog{
        max-width: 650px;
    }

    .modal-body{
        p{
            line-height: 1.67;
            color: #4a4a4a;
            margin-bottom: 20px;
        }
        h4{
            margin-bottom: 10px;
        }
    }
    .btn{
        font-size: 14px;
    }
}

