@import "../global";

.members-invite-page{
    padding: 80px 0;
    text-align: center;
    &_form-register{
        max-width: 400px;
        margin: 0 auto;
        .form-group{
            position: relative;
            .label-input-password{
                color: #ababab;
                font-size: 18px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                &:before{
                    content: '\f06e';
                    font-family: 'Font Awesome 5 Pro';
                    display: inline-block;
                }
                &.open{
                    &:before{
                        content: '\f070';
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding: 40px;
    }
    .avatar{
        margin-bottom: 15px;
        display: inline-block;
        img{
            width: 65px;
            height: 65px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .text-welcome{
        margin-bottom: 30px;
        color: #4a4a4a;
        line-height: 1.57;
    }
    .text-login{
        line-height: 1.57;
        margin-top: 30px;
        a{
            color: $color-theme;
        }
    }
}
