@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import '../../modules/select2';
@import '../../elements/button-custom';
@import '../../elements/component-user-sidebar';
@import '../../elements/datetimepicker';
@import '../../elements/alert-form-success';
@import '../../elements/reset-Sweet-alert';

h1, h2, h3, h4, h5, h6, b {
    font-weight: 700;
    color: #2d2d2d;
}

.profile-header-pages {
    &_cover {
        position: relative;
        overflow: hidden;

        .cover-blur {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            -webkit-filter: blur(10px);
            filter: blur(4px);
            transform: scale(1.25);
        }
        .cover-image{
            position: relative;
            &_result{
                img {
                    position: relative;
                    width: 100%;
                    display: block;
                    height: 320px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    @media (max-width: 1199px) {
                        height: 268px
                    }
                    @media (max-width: 991px) {
                        height: 199px
                    }
                    @media (max-width: 767px) {
                        height: 147px
                    }
                    @media (max-width: 575px) {
                        height: 157px
                    }
                    @media (max-width: 414px) {
                        height: 111px
                    }
                    @media (max-width: 375px) {
                        height: 100px
                    }
                }
                .btn-upload-cover{
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    color: #fff;
                    transition: all linear .3s;
                    opacity: 0;
                    visibility: hidden;
                    label{
                        padding: 5px 10px;
                        background: rgba(45, 45, 45, 0.7);
                        border-radius: 5px;
                        border: 1px solid #b1b1b1;
                        cursor: pointer;
                        i{
                            font-size: 16px;
                            text-shadow: 1px 1px 3px #333;
                            transition: all linear .3s;
                        }
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            background: $color-theme;
                            border-color: $color-theme;
                        }
                    }

                    input[type="file"]{
                        display: none;
                    }

                }
            }
            &_croppie{
                display: none;
                .btn-group-cover{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 2;
                    .btn{
                        font-size: 14px;
                        line-height: 1;
                    }
                    .btn-custom_light{
                        background: rgba(255, 255, 255, 0.58);
                    }
                }
                .cr-slider-wrap{
                    display: none;
                }
                .cr-viewport{
                    border: none;
                    background: rgba(255,255,255,0);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 73%, rgba(45,45,45,0.46) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(73%, rgba(255,255,255,0.34)), color-stop(100%, rgba(45,45,45,0.46)));
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 73%, rgba(45,45,45,0.46) 100%);
                    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 73%, rgba(45,45,45,0.46) 100%);
                    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 73%, rgba(45,45,45,0.46) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 73%, rgba(45,45,45,0.46) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2d2d2d', GradientType=0 );
                    .btn-move-cover{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        background: rgba(255, 255, 255, 0.45);
                        border: none;
                        padding: 5px 10px;
                        font-size: 13px;
                        border-radius: 5px;
                        color: #2d2d2d;
                    }
                }
                .cr-overlay{
                    cursor: grab;
                    &:active{
                        cursor: grabbing;
                    }
                }
            }
        }

        &:hover{
            .cover-image{
                .btn-upload-cover{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &_nav {
        padding: 15px 0;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        position: relative;
        z-index: 2;
        .profile-box-left {
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
        }

        .profile-avatar {
            margin-top: -50px;
            position: relative;
            height: 128px;
            &:hover {
                opacity: 1;
                .profile-avatar-upload{
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                width: 128px;
                height: 128px;
                -o-object-fit: cover;
                object-fit: cover;
                display: block;
                border-radius: 50%;
                padding: 3px;
                background: #fff;
                border: 1px solid #eaeaea;
            }
            &-upload{
                position: absolute;
                background: rgba(0,0,0,0.5);
                top: 4px;
                left: 4px;
                right: 4px;
                bottom: 4px;
                border-radius: 50%;
                color: #fff;
                overflow: hidden;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                opacity: 0;
                visibility: hidden;
                transition: all linear .3s;
                cursor: pointer;
                input[type="file"]{
                    display: none;
                }
            }
        }

        .profile-info {
            width: calc(100% - 128px);
            padding-left: 20px;

            .profile-name {
                font-size: 24px;
                line-height: 1.1;
                margin-bottom: 0.5rem;

                a {
                    color: #2d2d2d;
                }
            }

            .profile-desc {
                color: #868686;
            }

            .profile-menu {
                margin-top: 20px;
                font-weight: bold;

                li {
                    margin: 10px 30px 10px 0;
                    display: inline-block;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        color: #2d2d2d;
                        position: relative;
                    }

                    small {
                        font-weight: normal;
                        color: #868686;
                    }

                    &.active {
                        a:after {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 2px;
                            background: $color-theme;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }

        .profile-box-right {
            .btn {
                margin-top: 5px;
                margin-left: 5px;
                font-size: 14px;
            }
        }

        @media(max-width: 991px) {
            .profile-avatar {
                margin-top: -30px;
                height: 80px;
                img {
                    width: 80px;
                    height: 80px;
                }
            }
            .profile-info {
                width: calc(100% - 80px);

                .profile-name {
                    font-size: 20px;
                }

                .profile-desc {
                    font-size: 13px;
                }

                .profile-menu {
                    margin-top: 30px;
                    margin-left: -100px;
                    text-align: center;

                    li {
                        margin-right: 20px;
                    }
                }
            }
        }
        @media(max-width: 767px) {
            .profile-box-right {
                margin-top: -75px;
                position: relative;

                .btn {
                    margin: 0;
                    font-size: 12px;
                    font-weight: normal;
                    padding: 3px 5px;
                }
            }
            .profile-info {
                .profile-name {
                    font-size: 18px;
                }

                .profile-menu {
                    margin-top: 50px;
                }
            }
        }
        @media(max-width: 575px) {
            .profile-box-right {
                position: absolute;
                margin: 0;
                right: 15px;
                top: 50px;
            }
            .profile-avatar {
                margin-top: -20px;
                height: 50px;
                img {
                    width: 50px;
                    height: 50px;
                    padding: 0;
                }
                &-upload{
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    font-size: 14px;
                }
            }
            .profile-info {
                width: calc(100% - 50px);
                padding-left: 10px;

                .profile-name {
                    font-size: 16px;
                }

                .profile-menu {
                    margin-top: 50px;
                    margin-left: -50px;

                    li {
                        margin-bottom: 0;
                        margin-right: 15px;

                        &.active {
                            a {
                                color: $color-theme;

                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}

.profile-sidebar {
    .title-sidebar {
        text-transform: none;
        font-weight: normal;
        font-size: 14px;
    }

    &_box {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
        border-top: 2px solid $color-theme;
        padding: 25px 15px 30px;

        .title {
            margin-bottom: 10px;
            line-height: 1.37;
        }
    }

    .form-share-cv {
        position: relative;

        input {
            font-size: 14px;
            padding-right: 50px;
        }

        .btn-share-cv {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 14px;
            border-radius: 0 5px 5px 0;
        }
    }

    .profile-scores {
        border-bottom: 1px solid #eaeaea;
        padding: 30px 0;
        text-align: center;

        a {
            color: #868686;
            margin-top: 15px;
            display: inline-block;
        }

        .bg-score {
            background: url("/images/bg-score.png") no-repeat center;
            color: #fff;
            width: 112px;
            margin: 0 auto;
            padding: 33px 0;

            .score-number {
                display: block;
                font-size: 100%;
                font-size: 48px;
                font-weight: bold;
            }

            small {
                display: block;
                font-size: 12px;
            }
        }
    }

    .related-users {
        padding: 30px 0;
    }
}
.modal-header {
    align-items: center;
    padding: 20px 15px;
    border-color: #dbdbdb;
    @media (max-width: 767px) {
        padding: 15px;
    }

    .modal-title {
        line-height: 1.3;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 500;
        @media(max-width: 575px) {
            font-size: 14px;
        }
    }

    .close {
        font-size: 18px;
        color: #ababab;
        opacity: 1;
        transition: all linear .3s;

        &:hover {
            color: #4a4a4a;
        }
    }
}
.popup-edit-profile {
    //customise input type radio
    [type="radio"] {
        &:checked, &:not(:checked) {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #ddd;
                    border-radius: 100%;
                    background: #fff;
                }

                &:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: $color-theme;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
        }

        &:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        &:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .form-group {
        margin-bottom: 20px;

        > label:first-child {
            display: block;
            margin-bottom: 10px;
            color: #4a4a4a;
            font-size: 14px;
        }
        .err-inp{
            color: #f00;
            margin-top: 5px;
            display: block;
            font-size: 12px;
            line-height: 1.57;
        }
    }

    .form-control {
        font-size: 14px;
        position: relative;
        height: 40px;
        padding: .5rem .75rem;
        &.error{
            border-color: #f00 !important;
        }
        &:focus {
            border-color: $color-theme;
        }
        &__btn-icon {
            float: right;
            background: none;
            border: none;
            padding: 0;
            color: #ababab;
            margin-left: 10px;

        }
    }

    //End: customise input type radio
    @import "../../elements/reset-select2-list-item";
}

