@import 'global';
@import "../../elements/form-applyJob";
@import "../../elements/alert-form-success";
@import "../../elements/component-table-info";
.profile-homePage{
    background: #fafafa;
    padding: 30px 0 80px;
    @media(max-width: 767px){
        padding-bottom: 40px
    }
    &_box{
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
        padding: 30px;
        position: relative;
        margin-bottom: 30px;
        z-index: 1;
        &:last-child{
            margin-bottom: 0
        }
    }
    .form-ApplyJob{
        >p{
            line-height: 1.67;
        }
        .group-button-form{
            .btn{
                font-size: 14px;
                margin: 10px 10px 0 0;
            }
            .btn-close{
                &:focus{
                    color: inherit;
                    box-shadow: none;
                    opacity: 1;
                }
                &:hover{
                    opacity: 0.7;
                    color: inherit;
                }
            }
        }
    }
}

//custome css modal success
.profile-homePage_box{
    .alert-form-success{
        position: absolute;
        background: rgba(0,0,0,0.2);
        button.close{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 18px;
        }
        .modal-body{
            padding: 35px 1rem;
        }
    }
}

