@import 'global';
.profile-networkPage{
    background: #fafafa;
    padding: 30px 0 80px;
    @media(max-width: 767px){
        padding-bottom: 40px
    }
    .network-tag{
        display: flex;
        padding-left: 5px;
        padding-top: 1px;
        .tag-item {
            color: #ababab;
            transition: .3s all;
            font-size: 13px;

            &:not(:last-child)::after {
                content: '/';
                display: inline-block;
                margin: 0 10px;
                color: #ababab;
            }

            &:hover {
                color: #3ea37d;
            }
        }

        // .tag-item
        .active {
            color: #3ea37d;
            font-weight: 700;
        }
    }
    .network-list{
        .network-item{
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
            padding: 15px;
            position: relative;
            margin-top: 15px;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:first-child{
                margin-top: 0;
            }
            .network-item-info{
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .network-item{

                }
            }
            .network-item-btn-group{
                display: -webkit-flex;
                display: flex;
                justify-content: flex-end;
                .btn-accept-friend{
                    &.added{
                        padding: 0;
                        border: none;
                        background: none;
                        cursor: auto;
                        &:before{
                            content: '\f00c';
                            font-family: 'Font Awesome 5 Pro';
                            display: inline-block;
                            color: $color-theme;
                            font-weight: 300;
                            font-size: 25px;
                        }
                        &:hover,&:focus{
                            opacity: 1;
                            outline: none;
                            box-shadow: none;
                        }
                        span{
                            display: none;
                        }
                        &+.btn-refuse-friend{
                            display: none;
                        }
                    }
                }
                .btn-refuse-friend{
                    background: none;
                    border: none;
                    padding: 0;
                    font-size: 20px;
                    color: #ababab;
                    display: inline-block;
                    margin-left: 0.5rem;
                    &:hover{
                        color: #f00;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
