@import 'global';
@import '../../elements/component-post-item-box';
.profile-postsPage{
    background: #fafafa;
    padding: 30px 0 80px;
    @media(max-width: 767px){
        padding-bottom: 40px
    }
    .btn-open-form-post{
        background: #fff;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 10px;
        color: $color-theme;
        transition: all linear .3s;
        &:hover{
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
            opacity: 1;
        }
    }

    .component-posts-item-box{
        margin-top: 30px;
        .posts-item-thumb{
            img{
                height: 137px;
                @media (max-width: 1199px) {
                    height: 114px;
                }
                @media (max-width: 991px) {
                    height: 176px;
                }
                @media (max-width: 767px) {
                    height: 200px;
                }
                @media (max-width: 575px) {
                    height: 213px;
                }
                @media (max-width: 414px) {
                    height: 150px;
                }
                @media (max-width: 375px) {
                    height: 135px;
                }
            }
        }
        .posts-item-content{
            @media (min-width: 992px) {
                height: 146px;
            }
        }
    }
}
