header {

    .inner-header {
        .nav-link {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .header-menu {
        float: right;
    }
    .profile-tools {
        float: right;
    }

    .scroll-menu-custom {
        max-height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.header-sub-menu {
    padding-left: $grid-gutter-width / 2;
    .nav {
        display: inline-block;

        .nav-item {
            display: inline-block;
            .nav-link {
                line-height: 35px;
            }
        }
    }
}
