@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import '../../modules/select2';
@import '../../elements/button-follow-customer';
@import '../../elements/component-company-small';
//company head menu
.nav-enterprise {
    padding: 10px 0;
    position: relative;
    z-index: 10;
    .nav-enterprise-box{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 115px;
        position: relative;
        flex-wrap: wrap;
        @media(max-width: 1199px){
            display: block;
        }
        @media(max-width: 767px){
            padding: 0;
        }
    }
    .info-nav-enterprise{
        max-width: 420px;
        .company-avatar {
            &:hover{
                opacity: 1;
            }
            img{
                width: 100px;
                height: 100px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                position: absolute;
                top: 12px;
                left: 0;
                border: 1px solid #eaeaea;
                padding: 3px;
                background: #fff;
                @media(max-width: 767px){
                    position: static;
                    float: left;
                    margin-right: 15px;
                    width: 90px;
                    height: 90px;
                    margin-bottom: 5px;
                }
            }
        }
        .company-info{
            .company-name{
                font-size: 24px;
                font-weight: bold;
                padding: 12px 0;
                a{
                    color: #2d2d2d;
                }
                @media(max-width: 575px){
                    font-size: 21px;
                    padding: 5px 0;
                }
            }
            .company-tag-info{
                display: inline-block;
                font-size: 13px;
                color: #868686;
                white-space: nowrap;
                span{
                    &:not(:last-child){
                        &:after{
                            content: '•';
                            display: inline-block;
                            margin: 0 2px 0 5px;
                        }
                    }
                }
                @media (max-width: 1199px) {
                    white-space: normal;
                }
            }
        }
    }

    .menu-nav-enterprise {
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            padding: 5px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            a{
                display: block;
                font-weight: bold;
                position: relative;
                &.active{
                    color: #3ea37d;
                    &:before{
                        content: '';
                        height: 2px;
                        width: 15px;
                        background: #3ea37d ;
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            clear: both;
            margin-top: 10px ;
            li{
                padding: 5px 4px;
            }
        }
    }
}
.page-enterprise {
    .related-companies{
        background: #fafafa;
        padding: 60px 0;
        @media (max-width: 767px) {
            padding: 40px 0;
        }
        &_title{
            color: #ababab;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}
