@import 'global';
.company-create-page{
    background: #fafafa;
    padding: 80px 0;
    @media(max-width: 767px){
        padding: 40px 0;
    }
    .company-create-head{
        display: -webkit-flex;
        display: flex;
        margin-bottom: 35px;
        align-items: center;
        flex-wrap: wrap;
        &_icon{
            padding: 15px;
            width: 70px;
            height: 70px;
            background: #fff;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &_content{
            width: calc(100% - 70px);
            padding-left: 15px;
            .title{
                color: #2d2d2d;
                line-height: 1.37;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .desc{
                color: #4a4a4a;
                line-height: 1.57;
            }
        }
        @media(max-width: 575px){
            margin-bottom: 15px;
            &_icon{
                width: 60px;
                height: 60px;
                padding: 10px;
            }
            &_content {
                width: calc(100% - 60px);
                padding-left: 10px;
                .title{
                    font-size: 18px;
                }
                .desc{
                    font-size: 13px;
                }
            }
        }
    }
    .company-create-form{
        background: #fff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
        padding: 25px 15px;
        .form-group{
            margin-bottom: 30px;
            >label{
                margin-bottom: 10px;
                color: #4a4a4a;
            }
        }
        .form-policy{
            font-size: 13px;
            line-height: 1.38;
            margin-top: 15px;
        }
        .form-control{
            font-size: 14px;
            &.error{
                border-color: #f00;
            }
            &::-webkit-input-placeholder {
                color: #ababab;
            }

            &:-ms-input-placeholder {
                color: #ababab;
            }

            &::placeholder {
                color: #ababab;
            }
        }
        input.form-control{
            height: 40px;
        }
        textarea.form-control{
            height: 100px;
        }
        .err-inp{
            color: #f00;
            font-size: 12px;
            display: block;
            line-height: 1.3;
            margin-top: 5px;
        }

        @import "../../elements/reset-select2-list-item";
    }
}
