@import 'global';

.companies-following-page {
    padding: 80px 0;
    @media (max-width: 767px) {
        padding: 40px 0;
    }
    @media(min-width: 768px) {
        .component-title {
            margin-bottom: 40px;

            .title {
                font-size: 24px;
                line-height: 1.37
            }
        }
    }
}

.companies-following-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;

    &:first-child {
        padding-top: 0;
    }

    .avatar {
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            display: block;
        }
    }

    .content {
        width: calc(100% - 200px);
        padding-left: 15px;

        .title {
            font-size: 16px;
            line-height: 1.37;

            a {
                color: #2d2d2d;
            }
        }

        .desc {
            margin-top: 5px;
            font-size: 13px;
            color: #ababab;
            line-height: 1.37;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }
    }

    .follow {
        text-align: right;
        width: 120px;
    }

    @media(max-width: 767px) {
        .avatar {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .content{
            width: calc(100% - 170px);
            .title{
                font-size: 14px;
            }
        }
    }
    @media(max-width: 575px){
        .content {
            width: calc(100% - 50px);
        }
        .follow{
            width: 100%;
            margin-top: 10px;
        }
    }
}
