@import 'global';
@import '../../elements/component-table-info';
@import '../../elements/component-post-item';
@import '../../elements/component-job-item';
@import '../../elements/component-how-item';
@import '../../elements/component-who-tabs';

.component-who{
    .tab-who{
        max-width: 700px;
        .item{
            .avatar{
                padding: 0;
            }
            &.active{
                .avatar{
                    transform: scale(1.27);
                }
                .name,.position{
                    visibility: hidden;
                }
                &:after{
                    border: none;
                    height: 3px;
                    width: 30px;
                    background: #6a6e71;
                    bottom: 25px;
                }
            }
        }
    }
    .item_content{
        padding: 0;
        background: none;
        .info-member{
            max-width: 700px;
            .name{
                font-size: 18px;
                color: #2d2d2d;
                margin-bottom: 10px;
                .position{
                    color: #ababab;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
        .post-member{
            padding: 15px;
            border: 1px solid #eaeaea;
            margin-top: 15px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            .thumb{
                width: 255px;
                height: 100px;
                object-fit: cover;
            }
            .content{
                width: calc(100% - 255px);
                padding-left: 15px;
                .title{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    a{
                        font-size: 16px;
                        color: #2d2d2d;
                    }
                }
                .time{
                    color: #ababab;
                    font-size: 13px;
                }
                .desc{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    color: #4a4a4a;
                    margin-top: 10px;
                }
                @media(max-width: 767px){
                    width: 100%;
                    padding: 0;
                    margin-top: 15px;
                }
            }

        }
    }
    @media (max-width: 575px) {
        .col-3{
            padding: 0 15px
        }
        .item{
            padding-bottom: 45px;
        }
    }
}
.banner-enterprise {
    img {
        width: 100%;
        display: block;
        height: 330px;
        -o-object-fit: cover;
        object-fit: cover;
        @media (max-width: 1585px) {
            height: 330px;
        }
        @media (max-width: 991px) {
            height: 206px;
        }
        @media (max-width: 767px) {
            height: 160px;
        }
        @media (max-width: 575px) {
            height: 130px;
        }
    }
}

.home-enterprise-page {
    .company-slogan {
        padding-top: 80px;
        @media (max-width: 767px) {
            padding-top: 40px;
        }

        &_title {
            font-size: 42px;
            font-weight: bold;
            color: #2d2d2d;
            line-height: 1.2;
            margin-bottom: 15px;
        }

        &_desc {
            font-size: 15px;
            color: #868686;
            line-height: 1.8;
        }
    }

    .company-top-post {
        padding: 80px 0 45px;
        @media(min-width: 1200px) {
            .component-posts-item .posts-item-title {
                font-size: 16px;
            }
        }
        @media (max-width: 767px) {
            padding: 40px 0 20px;
            .col-sm-6:first-child {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;

                .component-posts-item {
                    .posts-item-thumb {
                        img {
                            height: 200px
                        }
                    }
                }
            }
        }
        @media (max-width: 575px) {
            .view-more {
                float: right;
                margin-top: -39px;
            }
        }
    }

    .company-what {
        padding: 80px 0;
        @media (max-width: 767px) {
            padding: 40px 0;
        }
    }

    .company-how, .company-job-now, .company-info {
        padding: 80px 0;
        @media (max-width: 767px) {
            padding: 40px 0;
        }
    }

    .company-job-now {
        background: #fafafa;

        .job-now_slick {
            .slick_nav {
                top: 32%;
                @media (min-width: 576px) and (max-width: 767px) {
                    top: 38%;
                }
            }
        }
    }

    .company-info {
        &_brand {
            display: -webkit-flex;
            display: flex;
            margin-bottom: 30px;
            align-items: center;

            .avatar {
                width: 50px;
                height: 50px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
            }

            .name {
                font-size: 16px;
                font-weight: bold;
                color: #2d2d2d;
                padding-left: 20px;
            }
        }

        &_map {
            width: 100%;
            height: 100%;
            min-height: 200px;
        }
    }

    .component-posts-item .posts-item-thumb, .component-job-item .job-item-thumb {
        img {
            height: 137px;
            -o-object-fit: cover;
            object-fit: cover;
            @media (max-width: 1199px) {
                height: 114px;
            }
            @media (max-width: 991px) {
                height: 82.2px;
            }
            @media (max-width: 767px) {
                height: 94px;
            }
            @media (max-width: 575px) {
                height: 200px !important;
            }
            @media (max-width: 350px) {
                height: 137px !important;
            }
        }
    }
    .component-how-item {
        img {
            height: 194px;
            -o-object-fit: cover;
            object-fit: cover;
            @media (max-width: 1199px) {
                height: 161px;
            }
            @media (max-width: 991px) {
                height: 183px;
            }
            @media (max-width: 767px) {
                height: 134px;
            }
            @media (max-width: 575px) {
                height: 303px;
            }
            @media (max-width: 414px) {
                height: 214px;
            }
            @media (max-width: 375px) {
                height: 192px;
            }
        }
    }
}
