@import 'global';
@import '../../elements/block-filter';
@import '../../elements/component-job-item-large';
.jobs-enterprise-page{
    padding: 80px 0;
    @media(max-width: 767px){
        padding: 40px 0;
    }
}
