@import 'global';
@import '../../elements/component-who-tabs';
//custome component who
.component-who{
  .tab-who{
    max-width: 700px;
    .item{
      .avatar{
        padding: 0;
      }
      &.active{
        .avatar{
          transform: scale(1.27);
        }
        .name,.position{
          visibility: hidden;
        }
        &:after{
          border: none;
          height: 3px;
          width: 30px;
          background: #6a6e71;
          bottom: 25px;
        }
      }
    }
  }
  .item_content{
    padding: 0;
    background: none;
    .info-member{
      max-width: 700px;
      .name{
        font-size: 18px;
        color: #2d2d2d;
        margin-bottom: 10px;
        .position{
          color: #ababab;
          display: inline-block;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
    .post-member{
      padding: 15px;
      border: 1px solid #eaeaea;
      margin-top: 15px;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      .thumb{
        width: 255px;
        height: 100px;
        object-fit: cover;
      }
      .content{
        width: calc(100% - 255px);
        padding-left: 15px;
        .title{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          a{
            font-size: 16px;
            color: #2d2d2d;
          }
        }
        .time{
          color: #ababab;
          font-size: 13px;
        }
        .desc{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 1;
          color: #4a4a4a;
          margin-top: 10px;
        }
        @media(max-width: 767px){
          width: 100%;
          padding: 0;
          margin-top: 15px;
        }
      }

    }
  }
  @media (max-width: 575px) {
    .col-3{
      padding: 0 15px
    }
    .item{
      padding-bottom: 45px;
    }
  }
}
.members-enterprise-page{
  padding: 80px 0;
  .members-list{
    border-top: 1px solid #eaeaea;
    margin-top: 80px;
    padding-top: 50px;
    .members-item a{
      padding: 30px 10px;
      text-align: center;
      display: block;
      transition: all linear .2s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &:hover{
        background: #fafafa;
        opacity: 1;
      }
      .avatar{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      .name{
        color: #2d2d2d;
        line-height: 1.57;
        margin-bottom: 3px;
        font-size: 14px;
      }
      .state{
        font-size: 12px;
        color: #ababab;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

