@import 'global';
@import '../../elements/component-post-item-large';
@import '../../elements/component-post-item-small';
.post-enterprise-page{
    padding: 80px 0;
    @media(max-width: 767px){
        padding: 40px 0;
    }
    &_sidebar{
        @media (min-width: 1200px) {
            padding-left: 30px;
        }
    }
    .component-posts-item-small {
        @media (min-width: 576px) and (max-width: 767px){
            border: none;
        }
        .posts-item-thumb img{
            height: 125px;
            -o-object-fit: cover;
            object-fit: cover;
            @media(max-width: 1199px){
                height: 113px;
            }
            @media(max-width: 991px){
                height: 82px;
            }
            @media(max-width: 767px){
                height: 94px;
            }
            @media(max-width: 575px){
                height: 214px;
            }
            @media(max-width: 414px){
                height: 150px;
            }
            @media(max-width: 375px){
                height: 135px;
            }
        }
    }

}
