@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import '../../modules/select2';
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}

.header{
    &.header-dashboard{
        background: rgba(60,164,126,1);
        background: -moz-linear-gradient(left, rgba(60,164,126,1) 0%, rgba(86,189,115,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,164,126,1)), color-stop(100%, rgba(86,189,115,1)));
        background: -webkit-linear-gradient(left, rgba(60,164,126,1) 0%, rgba(86,189,115,1) 100%);
        background: -o-linear-gradient(left, rgba(60,164,126,1) 0%, rgba(86,189,115,1) 100%);
        background: -ms-linear-gradient(left, rgba(60,164,126,1) 0%, rgba(86,189,115,1) 100%);
        background: linear-gradient(to right, rgba(60,164,126,1) 0%, rgba(86,189,115,1) 100%);
        border: none;
        position: sticky;
        top: 0;
        .menu{
            li{
                a{
                    color: #fff;
                    img{
                        filter: brightness(10);
                        display: none;
                        @media(max-width: 400px){
                            display: block;
                            margin: 0;
                        }
                    }
                }
                &.active{
                    a{
                        color: #fff;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 15px;
                            background: #42e874;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -10px;
                        }
                    }
                }
                @media(max-width: 400px){
                    margin-right: 35px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .right .notification .list li {
            img{
                filter: brightness(2);
            }
            a i{
                color: #fff;
            }
        }
        @media (min-width: 992px){
            animation: unset;
        }
        @media (max-width: 900px) {
            &.sticky-top{
                .group{
                    display: none;
                    &.group--right{
                        display: -webkit-flex;
                        display: flex;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.dashboard-body{
    .dashboard-page{
        position: relative;
        background: #fafafa;
        padding-left: 270px;
        transition: all ease .5s;
        .dashboard-sidebar{
            position: absolute !important;
            z-index: 15;
            left: 0;
            .theiaStickySidebar{
                transition: margin-left ease .5s;
                background: #fff;
                box-shadow: 0 -3px 5px 1px rgba(0, 0, 0, 0.16);
            }
            .btn-dashboard-sidebar-toggle{
                background: none;
                border: none;
                position: absolute;
                font-size: 20px;
                right: 10px;
                top: 10px;
                color: #ababab;
                transition: all linear .5s;
                z-index: 100;
                background: #fff;
                border-radius: 5px;
                i{
                    &:before{
                        content: '\f00d';
                        font-weight: 300;
                    }
                }
                &:hover{
                    opacity: 1;
                    color: $color-theme;
                }
            }
            &_box{
                width: 270px;
                height: calc(100vh - 65px);
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    background: #dbdbdb;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $color-theme;
                }

            }
            &_content{
                padding: 0 15px;
            }
            &_widget{
                padding: 30px 0;
                border-bottom: 1px solid #eaeaea;
                &:last-child{
                    border-bottom: none;
                }
                .title-sidebar{
                    font-size: 11px
                }
            }
            &__menu{
                margin: -10px 0;
                li{
                    a{
                        display: block;
                        padding: 10px 40px;
                        position: relative;
                        line-height: 1.37;
                        color: #2d2d2d;
                        .icon{
                            position: absolute;
                            left: 10px;
                            top: 10px;
                            filter: contrast(0);
                        }
                        .count{
                            position: absolute;
                            right: 8px;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background: #fff;
                            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.12);
                            line-height: 24px;
                            text-align: center;
                            color: #4a4a4a;
                            font-size: 12px;
                            font-weight: bold;
                            top: 7px;
                        }
                    }

                    &.active{
                        background: #fafafa;
                        a{
                            color: $color-theme;
                            .icon{
                                filter: contrast(1);
                            }
                        }
                    }
                }
            }
            &__info{
                margin: -10px 0;
                li{
                    a{
                        display: block;
                        padding: 10px 20px 10px 10px;
                        position: relative;
                        line-height: 1.37;
                        color: #2d2d2d;
                        &:after{
                            content: "\F054";
                            position: absolute;
                            right: 5px;
                            font-family: "Font Awesome 5 Pro";
                            font-size: 10px;
                            color: #ababab;
                            top: 13px;
                        }
                    }
                    &.active{
                        background: #fafafa;
                        a{
                            color: $color-theme;
                            &:after{
                                color: $color-theme;
                            }
                        }
                    }
                }
            }
            &__account{
                line-height: 1.57;
                h4{
                    margin-bottom: 5px;
                    line-height: 1.57;
                }
                p{
                    font-size: 12px;
                    color: #ababab;
                    margin-bottom: 15px;
                }
                .btn{
                    font-size: 14px;
                }
            }
            &__support{
                p{
                    line-height: 1.7;
                    margin-bottom: 10px;
                }
                >a{
                    display: inline-block;
                    line-height: 1.37;
                    i{
                        color: #ababab
                    }
                }
            }
        }
        .dashboard-main{
            .dashboard-header{
                background: #fff;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
                position: sticky;
                top: 64px;
                z-index: 10;
                @media(max-width: 900px){
                    top: 63px;
                }
                &_content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 12px 0;
                    .title{
                        font-size: 24px;
                        font-weight: normal;
                        padding: 8px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @media (min-width: 768px) {
                            width: calc(100% - 300px);
                        }
                        @media (max-width: 1199px) {
                            font-size: 20px;
                        }
                        @media (max-width: 767px) {
                            width: 100%;
                        }
                        @media (max-width: 575px) {
                            font-size: 18px;
                        }
                        @media (max-width: 375px) {
                            font-size: 16px;
                        }
                        .title-sub{
                            display: block;
                            font-weight: normal;
                            font-size: 14px;
                            color: #868686;
                            padding-top: 8px;
                            line-height: 1.37;
                        }
                    }

                    .button-group{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 8px 0;
                        .btn{
                            font-size: 14px;
                        }
                    }
                    @media (max-width: 991px){
                        padding: 2px 0;
                    }
                    @media (max-width: 767px){
                        justify-content: flex-end;
                    }
                    @media (max-width: 575px) {
                        padding: 5px 0;
                        .button-group{
                            padding: 5px 0;
                        }
                        .title{
                            padding: 5px 0;
                        }
                    }
                }
                &_filter{
                    & + .select2-container{
                        width: 130px !important;
                        margin-right: 15px;
                        .select2-selection{
                            &--single{
                                height: 36px;
                                &:focus{
                                    outline: none;
                                }
                            }
                            &__rendered{
                                height: 35px;
                                line-height: 35px;
                            }
                        }
                        @media (max-width: 575px) {
                            margin-right: 8px;
                        }
                    }
                }
            }
            @media (min-width: 992px) {
                min-height: calc(100vh - 64px) !important;
            }
        }
    }

    &.dashboard-sidebar-toggle{
        .dashboard-page{
            padding-left: 0;
            .dashboard-sidebar{
                .btn-dashboard-sidebar-toggle{
                    right: -30px;
                    background: #fff;
                    border-radius: 0 5px 5px 0;
                    padding: 5px;
                    box-shadow: 0 0 4.9px 0.1px rgba(0, 0, 0, 0.16);
                    color: $color-theme;
                    top: 23px;
                    i{
                        &:before{
                            content: '\f013';
                            animation: rotate linear 3s infinite;
                            display: inline-block;
                        }
                    }
                }
                .theiaStickySidebar{
                    margin-left: -270px;
                    box-shadow: none;
                }
            }
        }
        @media (max-width: 991px){
            overflow: hidden;
            margin-left: 270px;
            margin-right: -270px;
            .dashboard-page{
                &:before{
                    content: '';
                    background: rgba(0,0,0,0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10001;
                    animation: fadeIn both .7s ;
                }
                .dashboard-sidebar{
                    z-index: 99999;
                    margin-left: 0;
                }
            }
        }
    }

    @media (max-width: 991px) {
        transition: all ease .5s;
        position: relative;
        .dashboard-page{
            padding-left: 0;
            position: static;
            .dashboard-sidebar{
                position: fixed !important;
                top: 0;
                z-index: 10000;
                margin-left: -270px;
                transition: all ease .5s;
                &_box{
                    background: #fff;
                    height: 100vh;
                }
                .btn-dashboard-sidebar-toggle{
                    right: -30px;
                    background: #fff;
                    border-radius: 0 5px 5px 0;
                    padding: 5px;
                    box-shadow: 0 0 4.9px 0.1px rgba(0, 0, 0, 0.16);
                    color: $color-theme;
                    opacity: 1 !important;
                    width: 30px;
                    top: 77px;
                    i{
                        &:before{
                            content: '\f013';
                            animation: rotate 3s linear infinite;
                            display: inline-block;
                        }
                    }
                    @media (max-width: 900px) {
                        top: 130px
                    }
                    @media (max-width: 575px) {
                        top: 155px
                    }
                }
            }
        }
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
