@import "../../elements/button-custom";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
body{
    background: transparent;
    background: -moz-linear-gradient(top,  rgba(114,81,109,0.1) 0%, #f7f7f7 100%);
    background: -webkit-linear-gradient(top,  rgba(114,81,109,0.1) 0%,#f7f7f7 100%);
    background: linear-gradient(to bottom,  rgba(114,81,109,0.1) 0%,#f7f7f7 100%);
}
.hero {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 50px);
    .inner {
        position: relative;
        max-width: 960px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        z-index: 4;
        h1 {
            color: #57bc72;
            font-weight: 500;
            text-transform: uppercase;
            border-bottom: 2px rgb(154, 210, 170) dashed;
            font-size: 24px;
            margin: 15px 0 25px;
        }
        form{
            width: 100%;
            max-width: 330px;
            .form-group{
                label{
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-size: 13px;
                    color: #4d4d4d;
                    margin-bottom: 3px;
                }
            }
            .form-control{
                transition: all linear .2s;
                font-size: 14px;
                height: 44px;
                &:focus{
                    box-shadow: none;
                    border-color: #57bc72;
                    box-shadow: 3px 3px 19px -12px;
                }
            }
        }
        .link-comback-home{
            color: #57bc72;
            font-size: 14px;
        }
    }
}
