@import 'global';
@import '../../../elements/inputCroppieImage';
@import '../../../elements/froala-editor-custom';
@import '../../../elements/alert-form-success';
@import '../../../elements/select-occupation';

.dashboard-body .dashboard-page .dashboard-main .dashboard-header{
    position: static;
    .title{
        width: 100% !important;
    }
}
.dashboard-job-add {
    padding: 30px 0 80px;
    @media(max-width: 767px) {
        padding-bottom: 40px;
        &_thumb{
            padding: 15px 15px 0;
        }
    }
    @media (min-width: 992px) {
        .container{
            max-width: 775px;
        }
    }
    &_thumb{
        padding: 30px 30px 0;
        @media(max-width: 991px) {
            padding: 15px 15px 0;
        }
    }
    &_box {
        background: #fff;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);

        .box-width {
            padding: 30px 30px 40px;
            @media (max-width: 767px) {
                padding: 30px 15px;
            }
        }
    }
    &_title {
        position: relative;
        .form-group{
            margin-bottom: 15px !important;
            position: relative;
            &:before{
                content: '*';
                color: #f00;
                position: absolute;
                right: 8px;
                top: 14px;
            }
            textarea {
                display: block;
                width: 100%;
                outline: none !important;
                color: #2d2d2d;
                padding-right: 20px;

                &::-webkit-input-placeholder {
                    color: #ababab;
                }

                &:-ms-input-placeholder {
                    color: #ababab;
                }

                &::placeholder {
                    color: #ababab;
                }
            }
            .note{
                font-size: 13px;
                color: #868686;
                margin-top: 5px;
                padding-left: 15px;
                line-height: 1.3;
                display: block;
            }
        }
        .txt-format{
            line-height: 1.57
        }
        @media(max-width: 767px) {
            &:before{
                top: 9px;
            }
            textarea{
                font-size: 20px;
            }
        }
    }
    &_sub-title{
        margin: 15px 0;
        position: relative;
        &:before{
            content: '*';
            color: #f00;
            position: absolute;
            right: 8px;
            top: 14px;
        }
        .note{
            font-size: 13px;
            color: #4a4a4a;
            font-style: italic;
            margin-top: 10px;
            padding-left: 15px;
            line-height: 1.3;
        }
        textarea{
            padding-right: 20px;
        }
    }
    &_content{
        position: relative;
        z-index: 1;
        margin-top: 30px;
        .fr-element{
            min-height: 150px;
            border: 1px solid #dbdbdb;
            border-radius: 5px;
            padding: 0.5rem 14px;
            margin-bottom: 15px;
            position: relative;
            z-index: 1;
        }
        .fr-placeholder{
            z-index: 0;
        }
    }
    &_location-info{
        margin-top: 60px;
        .form-group{
            .note{
                font-size: 13px;
                color: #868686;
                margin-top: 5px;
                padding-left: 15px;
                line-height: 1.3;
                display: block;
            }
        }
    }
    &_salary{
        margin-top: 60px;
        .row{
            margin: -10px;
        }
        [class*="col-"]{
            padding: 10px;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button
        {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number]
        {
            -moz-appearance: textfield;
        }
        .note{
            span{
                color: #f00;
            }
        }
    }
    &_members{
        margin-top: 60px;
        padding-bottom: 60px;
        .note{
            line-height: 1.57;
            margin-bottom: 20px;
            max-width: 500px;
        }
    }
    &_submit {
        border-top: 1px solid #eaeaea;
        padding: 15px;
        text-align: right;
        position: sticky;
        bottom: 0;
        background: #fff;
        z-index: 2;

        .btn {
            font-size: 14px;
            margin-left: 5px;
        }
    }
    @import '../../../elements/reset-select2-list-item';
    .form-group{
        margin-bottom: 30px;
        label{
            font-weight: 500;
            color: #4a4a4a;
            margin-bottom: 10px;
            span{
                color: #f00;
            }
        }
    }
}

.job-members-editor{
    &_result{
        display:flex;
        &_item{
            padding: 30px 15px;
            position: relative;
            .member-avatar{
                width: 80px;
                height: 80px;
                display: block;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                transition: all linear .3s;
            }
            .btn-delete{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 16px;
                color: #ababab;
                visibility: hidden;
                opacity: 0;
                transition: all linear .15s;
                cursor: pointer;
                &:hover{
                    color: #4a4a4a;
                }
            }
            &.active{
                background: #f7f7f7;
                border-radius: 10px 10px 3px 3px;
                border-bottom: 2px solid $color-theme;
                &:hover{
                    .btn-delete{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .avatar{
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
                    transform: scale(1.15);

                }
            }
            @media (max-width: 575px) {
                padding: 20px 10px;
                .avatar{
                    width: 40px;
                    height: 40px
                }
                .btn-delete{
                    right: 5px;
                    top: 5px
                }
            }
        }
    }
    &_add{
        display:flex;
        &_item{
            padding: 30px 15px;
            position: relative;
            i.fa-user-circle{
                font-size: 80px;
                color: #eee;
                display: block
            }
            @media (max-width: 575px) {
                padding: 20px 10px;
                i.fa-user-circle{
                    font-size: 40px;
                }
            }
            &:first-child{
                cursor: pointer;
                &:after{
                    content: "\F067";
                    font-family: "Font Awesome 5 Pro";
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #868686;
                    font-weight: 100;
                    @media(max-width: 575px){
                        font-size: 20px;
                    }
                }
            }

        }
    }
    &_filter{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
        padding: 20px 20px 0;
        width: 260px;
        border-radius: 5px;
        background: #fff;
        position: absolute;
        left: 20px;
        z-index: 100;
        top: 100%;
        display: none;
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 13px 13px 13px;
            border-color: transparent transparent #eeeeee transparent;
            top: -13px;
            left: 25px;
        }
        .member-filter{
            position: relative;
            label{
                position: absolute;
                font-size: 17px;
                top: 50%;
                left: 10px;
                transform: translateY(-50%) rotate(90deg);
                color: #ababab;
            }
            input{
                padding-left: 40px;
                background: #f7f7f7;
                border: none;
            }
        }
        .member-list{
            max-height: 220px;
            overflow: auto;
            margin: 20px -20px 0;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #dbdbdb;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $color-theme;
            }
        }
        &_member{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            flex-wrap: wrap;
            transition: all linear .2s;
            cursor: pointer;
            &:hover,&.choose{
                background: #f7f7f7;
            }
            .member-avatar{
                width: 35px;
                height: 35px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
            }
            .info{
                width: calc(100% - 35px);
                padding-left: 10px;
                .name{
                    font-weight: normal;
                    font-size: 13px;
                    margin-bottom: 5px;
                    color: #2d2d2d;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.37;
                }
                .station{
                    font-size: 12px;
                    color: #ababab;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        @media (max-width: 767px) {
            left: 55px;
            transform: translateX(-50%);
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @media (max-width: 767px){
            transform: unset;
            left: auto;
            right: -10px;
        }
    }
    &_content{
        max-width: 700px;
        .content{
            display: none;
            margin-top: 30px;
        }
        .name{
            display: inline-block;
            color: #2d2d2d;
            margin-right: 10px;
        }
        .station{
            font-size: 12px;
            color: #ababab;
            display: inline-block;
        }
        .desc{
            line-height: 1.57;
            color: #4d4d4d;
            font-size: 14px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}
