@import "../global";
@import '../../../elements/modal-delete-member';

.dashboard-header{
    &_content{
        .button-group{
            .btn{
                background: #fafafa;
                color: #2d2d2d;
                border: 1px solid #eaeaea;
                cursor: auto;
                strong{
                    color: $color-theme;
                }
                &:hover,&:focus{
                    color: #2d2d2d
                }
            }
        }
    }
}
.dashboard-candidates-header{
    background: #fff;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 25px 30px;
    margin: 30px 0;
    line-height: 1.37;
    h1{
        color: $color-theme;
        font-size: 24px;
        margin-bottom: 20px;
    }
    label{
        color: #2d2d2d;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}
.dashboard-candidates-list {
    padding: 30px 0 50px;

    &_th {
        font-weight: 600;
        padding: 0 15px 15px;

        [class*="col-"]:first-child {
            padding-left: 110px;
        }

        @media (max-width: 1199px) {
            display: none;
        }
    }

}

.dashboard-candidate-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .avatar {
            img {
                width: 65px;
                height: 65px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            }
        }

        .title {
            padding-left: 30px;
            width: calc(100% - 65px);
            .name {
                color: $color-theme;
            }

            .desc {
                color: #ababab;
                font-size: 13px;
            }
        }
    }

    .about {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        @media (max-width: 575px) {
            margin-top: 10px;
        }
    }

    .control {
        .btn-control {
            border: 1px solid;
            padding: 0;
            color: #ababab;
            background: #fafafa;
            width: 34px;
            height: 34px;
            border-radius: 5px;
            margin: 3px 5px 3px 0;
            font-size: 15px;
            line-height: 33px;

            &.btn-delete-member:hover {
                color: #f00;
            }

            &.btn-edit-member:hover {
                color: $color-theme;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:hover {
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

}

