@import 'global';
.dashboard-jobs-alert{
    line-height: 1.37;
}
.dashboard-jobs-list{
    padding: 30px 0 50px;
    &_th{
        font-weight: 600;
        padding: 0 15px 15px;
        @media(max-width: 767px){
            display: none;
        }
        @media (max-width: 1199px) {
            .row{
                margin: 0 -0.5rem;
                [class*="col-"]{
                    padding: 0 0.5rem;
                }
            }
        }
    }
}
.dashboard-jobs-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;
    @media (max-width: 1199px) {
        .row{
            margin: 0 -0.5rem;
            [class*="col-"]{
                padding: 0 0.5rem;
            }
        }
    }
    &_title{
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            max-height: 38px;

            a{
                color: #2d2d2d;
                transition: all linear .3s;
                &:hover{
                    color: $color-theme;
                    opacity: 1;
                }
            }
        }
        .location{
            padding-left: 15px;
            position: relative;
            margin-right: 15px;
            max-width: calc(100% - 118px);
            &:before{
                content: '\f3c5';
                font-family: "Font Awesome 5 Pro";
                font-weight: 700;
                color: #868686;
                position: absolute;
                left: 0;
                top: 0px
            }
            span{
                color: #868686;
                font-size: 12px;
                margin-bottom: 2px;
                background: #eaeaea;
                padding: 2px 5px;
                border-radius: 10px;
                display: inline-block;
            }
        }
        .action{
            visibility: hidden;
            opacity: 0;
            transition: all linear .3s;
            a{
                display: inline-block;
                background: #f0f0f0;
                color: #ababab;
                width: 32px;
                height: 32px;
                line-height: 34px;
                text-align: center;
                border-radius: 50%;
                transition: all linear .3s;
                &:hover,&:focus{
                    opacity: 1;
                    color: #fff;
                    background: $color-theme;
                }
            }
        }
        @media (max-width: 767px) {
            border-bottom: 1px dashed #eaeaea;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .title{
                height: auto;
            }
            .action{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .status-txt{
        color: #ababab;
        display: inline-block;
        &:before{
            content: '\f28d';
            display: inline-block;
            font-size: 1.1em;
            margin-right: 5px;
            font-family: "Font Awesome 5 Pro";
            font-weight: 700;
        }
        &.active{
            color: $color-theme;
            &:before{
                content: '\f058';
            }
        }
        &.draft{
            color: #7995d6;
            &:before{
                content: '\f573';
            }
        }
    }
    .status-active{
        background: #ebf8f3;
        color: $color-theme;
        display: block;
        padding: 5px 0;
        border-radius: 5px;
        text-align: center;
        &:before{
            content: '\f28b';
            display: inline-block;
            font-size: 1.1em;
            margin-right: 5px;
            font-family: "Font Awesome 5 Pro";
            font-weight: 400;
        }
        &.active{
            background: #57bc72;
            color: #fff;
            &:before{
                content:'\F058';
            }
        }
        &.deactive{
            background: #ffefef;
            color: #f00;
            &:before{
                content:'\f057';
            }
        }
    }
    .info-txt{
        strong{
            color: $color-theme;
        }
        small{
            font-size: 13px;
            color: #ababab;
        }
    }
    .btn{
        font-size: 14px;
        padding: 3px 20px;
        margin-top: 8px;
    }
    &:hover{
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        .dashboard-jobs-item_title{
            .action{
                visibility: visible;
                opacity: 1;
                animation: slideInUp both .5s;
            }
        }
    }
    @media(max-width: 450px){

        .info-txt{
            display: inline-block;
        }
        .btn{
            margin: 0;
            line-height: 1;
            margin-left: 5px;
        }
    }

}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
