@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import '../../modules/select2';
h1, h2, h3, h4, h5, h6, b {
    font-weight: 700;
    color: #2d2d2d;
}
