@import 'global';
@import '../../elements/component-job-item-save';
@import "../../elements/reset-Sweet-alert";
.apply-jobs-page {
    padding: 80px 0;
    @media (max-width: 767px) {
        padding: 40px 0;
    }

    .row {
        margin: -20px -15px;
    }

    [class*="col-"] {
        padding: 20px 15px;
    }

    @media(min-width: 768px) {
        .component-title {
            margin-bottom: 40px;

            .title {
                font-size: 24px;
                line-height: 1.37
            }
        }
    }
}
