@import 'global';
@import '../../elements/button-save-job';
@import '../../elements/button-share-icon';
@import '../../elements/component-table-info';
@import '../../elements/component-who-tabs';
@import '../../elements/component-how-item';
@import '../../elements/component-tag-list';
@import '../../elements/component-post-item';
.main {
    background: #fafafa;
    padding-top: 30px;
}

.box {
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    padding: 15px;
    @media(max-width: 575px){
        margin-right: -15px;
        margin-left: -15px;
        overflow: hidden;
    }
}
// .main-wrapper
.job-detail_head {
    .thumb {
        .thumb_img-big{
            img{
                height: 280px;
                @media(max-width: 1199px){
                    height: 233px;
                }
                @media(max-width: 991px){
                    height: 259px;
                }
                @media(max-width: 767px){
                    height: 188px;
                }
                @media (max-width: 575px) {
                    height: 215px;
                }
                @media (max-width: 414px) {
                    height: 151px;
                }
                @media (max-width: 375px) {
                    height: 136px;
                }
            }
        }
        .thumb_img-custom-layout{
            img{
                @media(max-width: 991px){
                    height: 126px;
                }
                @media(max-width: 767px){
                    height: 90px;
                }
                @media (max-width: 575px) {
                    height: 104px;
                }
                @media (max-width: 414px) {
                    height: 72px;
                }
                @media (max-width: 375px) {
                    height: 64px;
                }

            }
        }
        img {
            width: 100%;
            display: block;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .row{
            margin: -0.5rem;
        }
        [class*="col-"]{
            padding: 0.5rem;
        }
        @media(min-width: 992px){
            &_img-custom-layout{
                position: relative;
                .row{
                    position: absolute;
                    top: 0.5rem;
                    left: 0.5rem;
                    right: 0.5rem;
                    bottom: 0.5rem;
                    .col-lg-12{
                        height: 50%;
                    }
                }
            }
        }
    }

    .content {
        padding-top: 15px;


        .title {
            font-size: 24px;
            line-height: 1.33;
            margin: 5px 0 10px;
            @media(max-width: 575px) {
                font-size: 18px
            }
        }
        .view-count{
            display: inline-block;
            font-size: 13px;
            color: #868686;
        }
        .share_social {
            margin: 0 0 10px;
            display: inline-block;
            a {
                margin-left: 5px;
            }
        }

        .button-group {
            .btn {
                margin-bottom: 10px;
            }
        }
    }

    .company {
        border-top: 1px solid #eaeaea;
        margin-top: 15px;
        padding-top: 20px;

        .logo {
            width: 50px;
            margin-right: 20px;
            img {
                width: 100%;
                height: 50px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);;
            }
        }

        .info {
            padding-top: 5px;

            .title {
                margin-bottom: 5px;
                font-size: 16px;
                color: #2d2d2d;
            }

            .desc {
                font-size: 12px;
                color: #ababab;
            }
        }

        .talk {
            line-height: 1.29;
            font-weight: bold;

            img {
                float: right;
                margin-left: 11px;
                width: 50px;
            }
        }
    }
}

.job-detail_content {
    padding: 0 !important;
    .box{
        padding: 0;
    }
    .box_sidebar {
        border-left: 1px solid #eaeaea;
        padding-top: 25px;
        padding-left: 0;
        line-height: 1.3;
        @media(max-width: 1199px) {
            padding-left: 15px;
            border: none;
            padding-top: 0;
        }
        .around {
            padding: 30px;
            border-bottom: 1px solid #eaeaea;

            &:last-child {
                border-bottom: 0;
            }

            @media (max-width: 767px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            h3 {
                line-height: 1.43;
                margin-bottom: 15px;
            }

            .title {
                text-transform: uppercase;
                color: #ababab;
                margin-bottom: 15px;
            }

            ul {
                padding-top: 15px;

                li {
                    position: relative;
                    padding: 10px 0 10px 37px;
                    line-height: 1.3;
                    display: block;

                    &:first-child {
                        padding-top: 0;

                        i {
                            top: -4px;
                        }
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    a,span {
                        color: #2d2d2d;
                        &:after{
                            content: '\00a0';
                            display: inline-block;
                            visibility: hidden;
                        }
                    }

                    i {
                        position: absolute;
                        left: 0;
                        color: #ababab;
                        font-size: 22px;
                        top: 7px;
                    }

                    small {
                        font-size: 0.8em;
                        color: #ababab;
                    }
                }
            }

            .map {
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
                padding: 3px;

                iframe {
                    width: 100%;
                    height: 245px;
                    display: block;
                }
            }

            &.other {
                padding-right: 15px;

                h3 {
                    color: #ababab;
                    font-weight: normal;
                }

                .item {
                    display: flex;
                    display: -webkit-flex;
                    flex-wrap: wrap;
                    padding: 15px 0;
                    border-bottom: 1px solid #eaeaea;
                    align-items: center;
                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }

                    .thumb {
                        width: 70px;
                        height: 70px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        width: calc(100% - 70px);
                        padding-left: 10px;

                        .item_date, .item_address {
                            font-size: 12px;
                            color: #ababab;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .item_title {
                            line-height: 1.3;
                            margin: 3px 0;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                        }

                        .item_address:before {
                            content: '\f3c5';
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 300;
                            display: inline-block;
                            color: #3ea37d;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }

    .box_content {
        padding: 30px 60px 0 30px;
        @media(max-width: 1199px) {
            padding-right: 30px;
        }
    }

    &__who {
        padding-bottom: 40px;
    }

    &__what {
        padding-bottom: 44px !important;
        .component-how-item{
            margin-bottom: 30px;
            img{
                height: 178px;
                -o-object-fit: cover;
                object-fit: cover;
                @media(max-width: 1199px){
                    height: 153px;
                }
                @media(max-width: 991px){
                    height: 175px;
                }
                @media(max-width: 767px){
                    height: 125px;
                }
                @media(max-width: 575px){
                    height: 303px;
                }
                @media(max-width: 414px){
                    height: 214px;
                }
                @media(max-width: 375px){
                    height: 192px;
                }
            }
        }
        .content {
            line-height: 1.57;
            height: 130px;
            margin-bottom: 15px;
            overflow: hidden;

            &.open {
                height: auto;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        .viewmore {
            a{
                text-align: center;
                border-bottom: 1px solid #eaeaea;
                border-top: 1px solid #eaeaea;
                padding: 12px;
                margin: 0 -60px 0 -15px;
                position: relative;
                color: #3ea37d;
                display: block;
                &:before {
                    content: "";
                    width: 100%;
                    height: 60px;
                    box-shadow: inset 0px -1px 0 0 rgba(0, 0, 0, 0.08);
                    background-image: linear-gradient(to top, #ffffff, #ffffff00);
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                }
                @media (max-width: 1023px) {
                    margin-right: -15px;
                }
            }

        }

    }
    &__why,&__how{
        display: none;
    }
    &__detail {
        padding-bottom: 40px;
        line-height: 1.57;
        color: #4a4a4a;

        .content {
            h1, h2, h3, h4, h5, h6 {
                color: #292929;
                margin: 20px 0 10px;
            }

            p {
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }

            li {
                margin-bottom: 10px;
                padding-left: 10px;
                position: relative;

                &:before {
                    content: '-';
                    position: absolute;
                    left: 0;
                    top: 0;

                }
            }
        }

        .button-group {
            margin-top: 15px;

            .btn {
                font-weight: normal;
                font-size: 14px;
                margin-right: 8px;
                margin-top: 10px;
            }
        }
    }

    &__hotnews {
        padding-bottom: 15px;
        @media (min-width: 576px) and (max-width: 767px) {
            .col-sm-6:first-child{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .component-posts-item .posts-item-thumb img{
                    height: 189px;
                }
            }
        }
        .component-posts-item{
            .posts-item-thumb img{
                height: 80px;
                -o-object-fit: cover;
                object-fit: cover;
                @media (max-width: 1199px) {
                    height: 68px;
                }
                @media (max-width: 991px) {
                    height: 79px;
                }
                @media (max-width: 767px) {
                    height: 89px;
                }
                @media (max-width: 575px) {
                    height: 215px;
                }
                @media (max-width: 414px) {
                    height: 151px;
                }
                @media (max-width: 375px) {
                    height: 136px;
                }
            }
        }
    }

    &__company {
        padding-bottom: 10px;
    }
}

.job-detail_footer {
    .list-job {
        padding: 40px 0;

        &_title {
            color: #ababab;
            margin-bottom: 17px;
        }

        &_slick {
            margin: 0 -15px;

            .item {
                padding: 0 15px;
            }
            .slick_nav{
                top: 47%;
                @media (max-width: 1199px) {
                    top: 46%;
                }
                @media (max-width: 767px) {
                }
                @media (max-width: 575px) {
                }
                @media (max-width: 414px) {
                }
                @media (max-width: 375px) {
                }
            }
        }

        &_item {
            .company {
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 10px;

                .logo {
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid #eaeaea;
                    }
                }

                .title {
                    font-weight: normal;
                    padding-left: 10px;
                    width: calc(100% - 30px);
                    margin-bottom: 0;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                }
            }

            .thumb {
                margin-bottom: 12px;
                img{
                    width: 100%;
                    display: block;
                    height: 100px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    @media (max-width: 1199px) {
                        height: 82px;
                    }
                    @media (max-width: 767px) {
                        height: 94px;
                    }
                    @media (max-width: 575px) {
                        height: 215px;
                    }
                    @media (max-width: 414px) {
                        height: 151px;
                    }
                    @media (max-width: 375px) {
                        height: 136px;
                    }
                }
            }

            .title {
                line-height: 1.57;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
            }
        }
    }
}
/*Form Apply*/
#frm-apply_signin{
    .modal-dialog{
        @media (min-width: 768px){
            max-width: 700px !important;
        }
        @media (min-width: 992px){
            max-width: 770px !important;
        }
    }
    .modal-header{
        align-items: center;
        padding: 20px 30px;
        border-color: #dbdbdb;
        @media (max-width: 767px) {
            padding: 15px;
        }
        .modal-title{
            line-height: 1.3;
            color: #4a4a4a;
            font-size: 18px;
            font-weight: 500;
            @media(max-width: 575px){
                font-size: 14px;
            }
        }
        .close{
            font-size: 18px;
            color: #ababab;
            opacity: 1;
            transition: all linear .2s;
            &:hover{
                color: #4a4a4a;
            }
        }
    }
    .modal-body{
        padding: 0;
    }
    .frm-apply_signin__box{
        padding: 30px 0;
        .row{
            margin: 0;
        }
        [class*="col-"]{
            padding: 30px;
            border-right: 1px solid #dbdbdb;
            &:nth-child(2n){
                border-color: transparent;
            }
        }
        .around{
            padding-bottom: 38px;
            position: relative;
            height: 100%;
            .title{
                font-size: 24px;
                color: #2d2d2d;
                line-height: 1.2;
                margin-bottom: 15px
            }
            .desc{
                line-height: 1.57;
                margin-bottom: 30px;
            }
            .btn{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                font-weight: bold;
            }
        }
        @media (max-width: 767px) {
            padding: 0;
            [class*="col-"]{
                padding: 15px;
                border-right: none;
                border-bottom: 1px solid #dbdbdb;
            }
            .around .desc{
                margin-bottom: 20px;
            }
        }
    }
}
#frm-apply{
    .modal-dialog{
        @media (min-width: 768px){
            max-width: 570px !important;
        }
    }
    .modal-header{
        align-items: center;
        padding: 20px 30px;
        border-color: #dbdbdb;
        @media (max-width: 767px) {
            padding: 15px;
        }
        .modal-title{
            line-height: 1.3;
            color: #4a4a4a;
            font-size: 18px;
            font-weight: 500;
            @media(max-width: 575px){
                font-size: 14px;
            }
        }
        .close{
            font-size: 18px;
            color: #ababab;
            opacity: 1;
            transition: all linear .3s;
            &:hover{
                color: #4a4a4a;
            }
        }
    }
    .modal-body{
        padding: 30px;
    }
    @import "../../elements/form-applyJob";
    .modal-footer{
        .btn-close{
            color: #868686;
            &:hover{
                color: #46ab7a;
            }
        }
    }
}
@import "../../elements/alert-form-success";
/*END Form Apply*/
