@import 'global';
@import '../../elements/block-filter';
@import '../../elements/component-job-item-large';

.block-slider {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f5f5f5;
    position: relative;

    .job-slider {
        visibility: hidden;

        &.slick-initialized {
            visibility: visible;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 66px;
        width: 66px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.5;
        transition: 0.3s all;
        border: none;
        outline: none;
        z-index: 99;

        &:focus,
        &:hover {
            opacity: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 33px;
            background-size: cover;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    // .slick-arrow
    .slick-prev {
        left: 30px;
        right: auto;

        &:after {
            background: url('/images/ic_arrow_left.png') no-repeat;
        }
    }

    .slick-next {
        right: 30px;
        left: auto;

        &:after {
            background: url('/images/ic_arrow_right.png') no-repeat;
        }
    }

    .slick-list {
        .job-item {
            height: 380px;
            position: relative;
            opacity: 0.4;
            &.slick-center{
                opacity: 1;
            }
            .thumbnail{
                display: block;
                position: relative;
                height: 100%;
                transition: all linear .3s;
                &:before{
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,0,0,0.2);
                }
                img{
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

            .detail {
                position: absolute;
                z-index: 99;
                bottom: 30px;
                left: 30px;
                color: #fff;
                width: 70%;

                h2 a {
                    font-size: 24px;
                    color: #fff;
                    outline: none;
                    line-height: 30px;
                }

                .company {
                    margin-top: 15px;

                    a {
                        display: flex;
                        align-items: center;
                        outline: none;

                        h5 {
                            color: #fff;
                        }
                    }
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 12px;
                    background-color: #f6f6f8;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            & > img{
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
            // .detail
        }

        // .job-item
        .slick-slide {
            transition: all ease-in-out .3s;
            margin: 0 5px;

            .img-bg {
                width: 100%;
                height: 100%;
                opacity: .6;
                object-fit: cover;
            }

            // .img-bg
        }

        // .slick-slide
        .slick-current {
            background-color: #000;
        }
    }

    // .slick-list
    @media screen and (max-width: 1024px) {
        padding: 5px 0;
        @media screen and (max-width: 768px) {
            padding: 0;
            height: 300px;
            .slick-list {
                .slick-slide {
                    margin: 0;
                }

                .job-item {
                    height: 300px;

                    .detail {
                        width: 90%;

                        h2 {
                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }

                // .job-item
            }
            // .slick-list
            .slick-slide {
                margin: 0;
            }
        }
        // .block-slider mw 768px
    }
    // .block-slider mw 1024px
}

// .block-slider
.main{
    padding: 50px 0 80px;
    .block-filter, .block-main{
        padding-top: 10px;
    }
    @media(max-width: 767px){
        padding: 30px 0 40px;
    }
    @media(min-width: 1200px){
        .container{
            max-width: 992px;
        }
    }
    .block-main{
        >div{
            visibility: visible;
            opacity: 1;
            transition: all linear .2s;
        }
        &.ajax-loading{
            position: relative;
            > div{
                visibility: hidden;
                opacity: 0;
            }
            &:before, &:after{
                content: '';
                width: 50px;
                height: 50px;
                border: 1px solid rgba($color-theme, 0.7);
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                top: 35vh;
                position: absolute;
                animation: spWaveBe 2s ease infinite;
                opacity: 0;
            }
            &:after{
                animation-delay: 1s;
            }
        }
    }
}


.block-follow {
    .title {
        color: #ababab;
        margin-bottom: 30px;

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid #eaeaea;
            width: 30px;
            margin-top: 10px;
        }
    }

    // .title

    .follow-list {
        .item {
            width: 100%;
            display: block;
            font-weight: 700;

            &:not(:last-child) {
                margin-bottom: 18px;
            }

            .text {
                margin-left: 10px;
            }

            .number {
                font-weight: 100;
                font-size: 13px;
                color: #ababab;
            }
        }

        // .item
        .active {
            i,
            .text {
                color: #3ea37d;
            }
        }
    }

    // .follow-list
}

// .block-top
.block-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 30px;
    .job-found{
        color: #ababab;
        font-size: 13px;
    }
    .job-tag {
        display: flex;
        padding-left: 5px;
        .tag-item {
            color: #ababab;
            transition: .3s all;
            font-size: 13px;

            &:not(:last-child)::after {
                content: '/';
                display: inline-block;
                margin: 0 10px;
                color: #ababab;
            }

            &:hover {
                color: #3ea37d;
            }
        }

        // .tag-item
        .active {
            color: #3ea37d;
            font-weight: 700;
        }
    }

    // .job-tag
}
// .block-top




#modalChooseIndustry{
    .modal-body{
        padding: 30px 15px;
        form{
            max-width: 350px;
            margin: 0 auto;
            h3{
                text-align: center;
                color: #2d2d2d;
                margin-bottom: 15px;
                font-size: 16px;
                @media (min-width: 500px) {
                    font-size: 20px;
                    margin-bottom: 25px;
                }
            }
            input[type="radio"]{
                & + span{
                    cursor: pointer;
                }
                &:checked + span{
                    border-color: $color-theme;
                    color: $color-theme;
                    font-weight: 500;
                    padding-right: 30px;
                    position: relative;
                    &:after{
                        content: '\f058';
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}


@-webkit-keyframes spWaveBe {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translateX(-50%) scale(0);
        transform: translateX(-50%) scale(0);
        border-width: 1px;
        opacity: 1;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translateX(-50%) scale(2);
        transform: translateX(-50%) scale(2);
        border-width: 5px;
        border-color: rgba($color-theme, 0.7);
        opacity: 0;
    }
}

@keyframes spWaveBe {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translateX(-50%) scale(0);
        transform: translateX(-50%) scale(0);
        border-width: 1px;
        opacity: 1;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translateX(-50%) scale(2);
        transform: translateX(-50%) scale(2);
        border-width: 5px;
        border-color: rgba($color-theme, 0.7);
        opacity: 0;
    }
}
