.txt-format{
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        color: #2d2d2d;
        font-weight: bold;
    }
    blockquote{
        margin: 20px 0 30px;
        border-left: 3px solid #d1f9dc;
        padding-left: 15px;
        font-family: "Playfair Display", serif;
        font-style: italic;
    }
    ul{
        list-style: none;
        li{
            position: relative;
            &:before{
                content: '\f058';
                font-family: "Font Awesome 5 Pro";
                color: $color-theme;
                font-size: 13px;
                position: absolute;
                left: -20px;
                top: 1px;
            }
        }
    }
    a{
        color: $color-theme;
    }
}
