@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import "global";
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}
.aboutUs-page{
    .aboutUs-title{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 20px;
        text-transform: uppercase;
        &:after{
            content: '';
            width: 50px;
            height: 3px;
            background: #eaeaea;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
        @media(max-width: 575px){
            font-size: 20px;
            br{
                display: none;
            }
        }
    }
    .aboutUs-welcome{
        padding: 40px 0;
        background: url('/images/img_aboutus_1.jpg') no-repeat right bottom;
        h1{
            font-size: 42px;
            font-family: 'Playfair Display', serif;
            line-height: 1.3;
            font-weight: bold;
            margin-bottom: 30px;
            @media(max-width: 767px){
                font-size: 25px;
            }
        }
        .btn-custom{
            font-size: 14px;
            padding: 10px 30px;
        }
        @media (max-width: 991px) {
            .container{
                background: rgba(255, 255, 255, 0.7);
                padding: 30px 15px;
            }
        }
        @media (max-width: 767px) {
            h1 br{
                display: none;
            }
        }
        @media (max-width: 575px){
            padding: 0;
            .container{
                padding: 40px 15px;
            }
        }
    }
    .aboutUs-introduce{
        padding-top: 80px;
        @media (max-width: 767px) {
            padding-top: 40px;
            img{
                margin-top: 20px;
            }
        }
        &-brand{
            background: url("/images/img_aboutus_2.jpg") no-repeat;
            padding: 60px 0;
            @media (max-width: 991px) {
                padding-top: 0;
                .bg-white{
                    background: rgba(255,255,255,0.7) !important;
                }
            }
        }
    }
    .aboutUs-utilities{
        padding: 80px 0;
        .row{
            margin: -15px;
        }
        [class*="col-"]{
            padding: 15px;
        }
        &-box{
            box-shadow: 0 0 7.8px 0.2px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            padding: 30px 15px;
            .title{
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 25px;
                padding-left: 10px;
                img{
                    margin-right: 10px;
                }
            }
        }
        @media (max-width: 767px) {
            padding: 40px;
        }

    }
    .txt-format ul li{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
