@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import "global";
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}
.business-corner-page{
    .business-corner-title{
        font-family: "Playfair Display", serif;
        font-size: 24px;
        color: #2d2d2d;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 1.37;
        padding-bottom: 20px;
        position: relative;
        &:after{
            content: '';
            width: 50px;
            height: 3px;
            background: #eaeaea;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media(max-width: 575px){
            font-size: 20px;
            br{
                display: none;
            }
        }
    }
    section{
        padding-bottom: 80px;
    }
    .business-corner-head{
        padding: 100px 0;
        background: url("/images/img_business_corner_1.jpg") no-repeat top left;
        &-content{
            background: rgba(255,255,255,0.7);
            padding: 30px;
            h1{
                font-size: 42px;
                font-family: "Playfair Display", serif;
                margin-bottom: 30px;
                font-weight: bold;
                @media(max-width: 575px){
                    font-size: 25px;
                }
            }
        }
        @media (max-width: 991px) {
            background-size: cover;
        }
    }
    .business-corner-create{
        padding-top: 80px;
        .txt-format ul li{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media (max-width: 767px) {
            img{
                margin: 30px auto 0;
                display: block;
            }
        }
    }
    .business-corner-tools{
        .business-corner-title{
            text-align: center;
            &:after{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-item{
            display: flex;
            flex-wrap: wrap;
            padding: 15px 0;
            i{
                width: 65px;
                height: 65px;
                text-align: center;
                line-height: 65px;
                color: $color-theme;
                border: 1px solid;
                border-radius: 50%;
                font-size: 22px;
                margin-right: 15px;
            }
            .content{
                width: calc(100% - 80px);
                .title{
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }
        @media (min-width: 992px) {
            .left{
                text-align: right;
                .business-corner-tools-item{
                    i{
                        order: 2;
                        margin-right: 0;
                        margin-left: 15px;
                    }
                }
            }
            img{
                margin: 30px auto 0;
                display: block;
            }
        }
    }
    .business-corner-management-tools{
        @media (max-width: 991px) {
            img{
                margin: 30px auto 0;
                display: block;
            }
        }
    }
}
