@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import "global";
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}

.customer-support {
    &-head {
        background-image: url("/images/img_cover_cskh.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &_content {
            color: #fff;
            padding: 80px 0;
            text-align: center;

            .title {
                font-family: 'Playfair Display', serif;
                font-size: 35px;
                font-weight: bold;
                line-height: 1.2;
            }
        }
    }
    &-contact{
        padding: 80px 0;
        .title{
            font-family: "Playfair Display", serif;
            font-size: 24px;
            color: #2d2d2d;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1.5;
            padding-bottom: 20px;
            position: relative;
            &:after{
                content: '';
                width: 50px;
                height: 3px;
                background: #eaeaea;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .sp-contact{
            padding-left: 30px;
            margin-bottom: 30px;
            li{
                padding: 5px 0;
                &:before{
                    left: -30px;
                    top: 5px;
                    width: 24px;
                    height: 24px;
                    border: 1px solid $color-theme;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 24px;
                    font-weight: bold;
                }
                &.sp-phone{
                    &:before{
                        content: '\f879';
                    }
                }
                &.sp-email{
                    &:before{
                        content: '\f0e0';
                    }
                }
            }
        }
    }
    &-brand{
        padding: 75px 0;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: #fff;
        background: url('/images/img_cover_cskh_3.jpg') no-repeat center center;
        background-size: cover;
        font-weight: 300;
    }
    &-introduce{
        padding: 80px 0;
    }
    @media (max-width: 767px) {
        &-contact,&-introduce{
            padding: 40px 0;
        }
        &-introduce{
            img{
                margin: 0 auto 30px;
                display: block;
            }
        }
    }
}
