@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import 'global';
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}

.for-enterprise-head{
    background-image: url("/images/DN_cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &_content{
        color: #fff;
        padding: 80px 0;
        .title{
            font-family: 'Playfair Display', serif;
            font-size: 46px;
            font-weight: bold;
            line-height: 1.2;
            small{
                font-size: 0.55em;
                font-weight: bold;
                display: block;
            }
        }
    }
}
.for-enterprise-body{
    padding: 40px 0 80px;
    @media (max-width: 767px) {
        padding-bottom: 40px;
    }
    .nav{
        a{
            display: block;
            margin-bottom: 15px;
            line-height: 1.37;
            padding-left: 15px;
            position: relative;
            transition: all linear .2s;
            &:before{
                content: '\f054';
                font-family: "Font Awesome 5 Pro";
                position: absolute;
                left: 0;
                top: 3px;
                font-size: 10px;
            }
            &.active{
                color: $color-theme;
            }
        }
    }
    .txt-format{
        h3{
            &:before{
                content: '';
                width: 3px;
                height: 13px;
                background: $color-theme;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}
