@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import 'global';
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}
.help-page{
    &-head{
        background-image: url("/images/img_cover_help.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &_content{
            color: #fff;
            padding: 80px 0;
            text-align: center;
            .title{
                font-family: 'Playfair Display', serif;
                font-size: 35px;
                font-weight: bold;
                line-height: 1.2;
            }
        }
    }
    &-body{
        padding: 40px 0 80px;
        @media (max-width: 767px) {
            padding-bottom: 40px;
        }
        .nav{
            display: block;
        }
        .txt-format{
            h3{
                &:before{
                    content: '';
                    width: 3px;
                    height: 13px;
                    background: $color-theme;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

.menu-sidebar-multi{
    ul.nav{
        display: none;
        padding-left: 15px;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;

        animation-duration: 1s;
        -webkit-animation-duration: 1s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: hidden ;
        li{
            margin-top: 15px;
            &>a{
                color: #868686;
            }
        }
    }
    &>li{
        padding: 10px 15px;
        margin: 0 -15px;
        background: #fff;
        position: relative;
        &>a{
            font-size: 15px;
            color: #4a4a4a;
            display: block;
            &>i{
                float: right;
                font-size: 10px;
                margin-left: 10px;
            }
        }
        &.open{
            background: #f7f7f7;
            &>a{
                font-weight: bold;
                &:hover{
                    opacity: 1;
                }
                &>i:before{
                    content: '\f077';
                }
            }
            ul.nav{
                display: block;
                visibility: visible;
            }
        }
    }
    li > a.active{
        color: $color-theme !important;
    }
    @media (max-width: 767px){
        margin-bottom: 40px;
        &.nav{
            display: none;
        }
    }
    &_btn{
        margin-bottom: 20px;
        width: 100%;
    }
}
$slide-content-height: 100px;
@keyframes slideDown {
    0% {
        visibility: hidden;
        height: 0;
    }

    95% {
        visibility: visible;
        height: $slide-content-height;
    }

    /* Set height to 'auto' after animation for spacing showing form-invalid feedback message */
    100% {
        visibility: visible;
        height: auto;
    }
}

@-webkit-keyframes slideDown {
    0% {
        visibility: hidden;
        height: 0;
    }

    95% {
        visibility: visible;
        height: $slide-content-height;
    }

    /* Set height to 'auto' after animation for spacing showing form-invalid feedback message */
    100% {
        visibility: visible;
        height: auto;
    }
}
