@import '../../modules/variables';
@import '../../modules/reset';
@import '../../modules/common';
@import 'global';
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: inherit;
}
.operation-page{
    padding: 60px 0;
    h1{
        margin-bottom: 30px;
    }
    h2{
        margin-top: 20px;
    }
    .txt-format{
        .ul-error{
            li:before{
                color: #f00;
                content: '\f057';
            }
        }
    }
}
