@import "../global";
.dashboard-header{
    .button-group{
        max-width: 700px;
        .form-control{
            height: 35px;
            margin-right: 10px;
            &:nth-child(2n+1){
                width: 110px;
            }

        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            .form-control {
                margin-bottom: 10px;
                &:nth-child(2n) {
                    width: calc(100% - 120px);
                    margin-right: 0;
                }
            }
        }
    }
}
.dashboard-news-list{
    padding: 30px 0 50px;
    &_th{
        font-weight: 600;
        padding: 0 15px 15px;
        @media(max-width: 1110px){
            display: none;
        }
        .row{
            margin: 0 -0.5rem;
            [class*="col-"]{
                padding: 0 0.5rem;
            }
        }
    }
}
.dashboard-news-item{
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.37;
    transition: all linear .3s;
    .row{
        margin: 0 -0.5rem;
        [class*="col-"]{
            padding: 0 0.5rem;
        }
    }

    &_title{
        .row{
            margin: 0 -0.5rem;
            [class*="col-"]{
                padding: 0 0.5rem;
            }
        }

        .thumb{
            display: -webkit-flex;
            display: flex;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            max-height: 38px;
            a{
                color: #2d2d2d;
                transition: all linear .3s;
                &:hover{
                    color: $color-theme;
                    opacity: 1;
                }
            }
        }
        .time{
            color: #ababab;
            font-size: 12px;
            margin-right: 30px;
        }
        .action{
            visibility: hidden;
            opacity: 0;
            transition: all linear .3s;
            a{
                display: inline-block;
                background: #f0f0f0;
                color: #ababab;
                width: 32px;
                height: 32px;
                line-height: 34px;
                text-align: center;
                border-radius: 50%;
                transition: all linear .3s;
                &:hover,&:focus{
                    opacity: 1;
                    color: #fff;
                    background: $color-theme;
                }
            }
        }
    }

    .select-status-job{
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-top: 3px;
        padding: 5px 0;
        border-color: #eaeaea;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    &:hover{
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        .dashboard-news-item_title{
            .action{
                visibility: visible;
                opacity: 1;
                animation: slideInUp both .5s;
            }
        }
    }
    @media (max-width: 1110px){
        &_title {
            border-bottom: 1px dashed #eaeaea;
            margin-bottom: 10px;
            padding-bottom: 15px;
            .action{
                visibility: visible;
                opacity: 1;
            }
        }
        &_info{
            color: #4a4a4a;
            font-size: 13px;
            .info-txt{
                display: inline-block;
                position: relative;
                padding-left: 20px;
                &:before{
                    content: '#';
                    position: absolute;
                    left: 0;
                    font-family: "Font Awesome 5 Pro";
                }
            }
            .col_cate{
                .info-txt{
                    &:before{
                        content: '\f07c' ;
                    }
                }
            }
            .col_company{
                .info-txt{
                    &:before{
                        content: '\f1ad';
                    }
                }
            }
            .col_auth{
                .info-txt{
                    &:before{
                        content: '\f007';
                    }
                }
            }
            .col_status{
                text-align: right;

            }
        }
        @media (min-width: 768px){
            &_col{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            &_title{
                .col-lg-4{
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                    max-width: 25%;
                }
                .col-lg-8{
                    -ms-flex: 0 0 75%;
                    flex: 0 0 75%;
                    max-width: 75%;
                }
                .title{
                    -webkit-line-clamp: 1;
                    height: auto;
                }
            }
        }
    }
    @media (max-width: 575px){
        &_title{
            .thumb{
                width: 145px;
                height: 57px;
                margin: 0 auto 10px
            }
            .title{
                height: auto;
            }
        }
        &_info{
            .col_cate,.col_company,.col_auth{
                margin-bottom: 5px;
            }
        }
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
