footer {
    .logo-footer {
        margin-bottom: 26px;
    }

    .slogan-footer {
        line-height: 1.6;
        margin-bottom: 22px;
    }

    .footer-hot-line {
        margin-bottom: 7px;
    }

    .footer-social-links {
        .item {
            margin-right: 7px;
            display: inline-block;
            .hexagon {
                cursor: pointer;
            }

            i {
                position: absolute;
                top: 0;
                left: 6px;

                &.fa-youtube {
                    left: 4px;
                }

                &.fa-instagram {
                    left: 5px;
                }
            }
        }

        .hexagon {
            position: relative;
            width: 25px;
            height: 14.43px;
            background-color: transparent;
            margin: 7.22px 0;
            border-left: solid 1px $border-color;
            border-right: solid 1px $border-color;
            text-align: center;
            display: inline-block;

            &:before, &:after {
                content: "";
                position: absolute;
                z-index: 1;
                width: 17.68px;
                height: 17.68px;
                -webkit-transform: scaleY(0.5774) rotate(-45deg);
                -ms-transform: scaleY(0.5774) rotate(-45deg);
                transform: scaleY(0.5774) rotate(-45deg);
                background-color: inherit;
                left: 2.6612px;
            }

            &:before {
                top: -8.8388px;
                border-top: solid 1.4142px $border-color;
                border-right: solid 1.4142px $border-color;
            }

            &:after {
                bottom: -8.8388px;
                border-bottom: solid 1.4142px $border-color;
                border-left: solid 1.4142px $border-color;
            }
        }
    }

    .footer-nav-links {
        .title-box {
            margin-top: 17px;
        }

        ul {
            li {
                line-height: 1;
                margin-bottom: 17px;

                a {
                    color: $black-500;
                    &:hover {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }
}

.sub-footer {
    padding-top: 24px;
    padding-bottom: 20px;

    .footer-helper-links {
        a {
            &:after {
                content: "\2022";
                display: inline-block;
                padding-left: 9px;
                padding-right: 10px;
            }

            &:last-child {
                &:after {
                    content: '';
                    padding: 0;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    @import "../responsive/footer";
}
