header {
    .inner-header {
        padding-top: .5rem;
        padding-bottom: .5rem;

        .nav-link {
            padding-left: 15px;
            padding-right: 15px;

            &:hover, &.active {
                color: $green-300;
            }

            .icon-menu {
                margin-right: 6px;

            }
        }

        .profile-tools {
            a {
                color: #cdcdcd;

                &:hover {
                    color: #ababab;
                }
            }

            .user-avatar {
                width: 40px;
                height: 40px;
            }
        }

        @import "../header_dropdown";
    }
}

.header-sub-menu {
    padding-left: 85px;
}

@include media-breakpoint-down(lg) {
    @import "../responsive/header";
}
