@import "../var";

.page-enterprise {
    .nav-enterprise {
        padding: 10px 0;
        .nav-enterprise-box{
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            align-items: center;
        }
        .info-nav-enterprise{
            .company-avatar {
                width: 100px;
                height: 100px;
                -o-object-fit: cover;
                object-fit: cover;
                float: left;
                margin-right: 25px;
            }
            .company-info{
                padding-left: 125px;
            }
        }

        .menu-nav-enterprise {
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
            }
        }
    }

    .company-top-post {
        margin-bottom: 28px;
    }

    .company-caption {
        margin-bottom: 68px;

        .company-slogan {
            font-size: 42px;
        }

        .company-slogan-caption {
            line-height: 1.9;
        }
    }

    .company-top-news {
        .name-post {
            line-height: 1.5;
        }
    }

    .company-quote-section {
        .card-body {
            margin-bottom: 7px;
        }
    }

    .quote-master {
        padding-top: 12px;

        .list-person {
            .item {
                display: inline-block;
                position: relative;
                margin-top: 15px;

                .person-avatar {
                    width: 110px;
                    height: 110px;
                }

                &.active {
                    margin-top: 0;

                    .person-avatar {
                        width: 140px;
                        height: 140px;
                        margin-bottom: 0 !important;
                    }

                    .person-name {
                        display: none;
                    }

                    &:after {
                        content: '';
                        width: 30px;
                        height: 3px;
                        background-color: #6a6e71;
                        display: block;
                        margin-top: 35px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        .message-auth {
            .auth-name-of-message {
                font-size: 18px;
            }
        }

        .message-content {
            background: url($image-path + "/company-quote-message.png") no-repeat 8px 5px;
            min-height: 38px;
        }
    }

    .post-who-box {
        margin-bottom: 60px;

        .post-name {
            margin-bottom: 13px;
        }

        .post-desc {
            line-height: 1.68;
        }
    }

    .box-choice-intro {
        margin-bottom: 27px;
    }

    .job-list {
        background-color: #fafafa;
        padding-top: 44px;
        padding-bottom: 50px;

        .item {
            .post-name {
                line-height: 1.4;
            }
        }

        .owl-nav {
            position: absolute;
            top: 70px;
            width: 100%;

            [class*="owl-"] {
                background: url($image-path + "/nav-slide.png") no-repeat;
                width: 10px;
                height: 30px;
                position: absolute;
                margin: 0;

                &:hover {
                    background-color: transparent;
                }

                span {
                    color: transparent;
                }
            }

            .owl-prev {
                left: -25px;
            }

            .owl-next {
                right: -25px;
                transform: rotate(180deg);
            }
        }
    }

    .company-info-bottom {
        padding-top: 68px;

        .company-brand {
            margin-bottom: 25px;
        }

        .company-info-list {
            .item {
                margin-bottom: 18px;
            }
        }
    }
}

.enterprise-job-page {
    .thread-list {
        margin-top: 86px;

        ul {
            li {
                margin-bottom: 8px;

                a {
                    &.active {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }

    .post-list {
        .item {
        }

        .tag-post {
            .btn {
                line-height: 18px;
            }
        }

        .post-share-tools {
            .item {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    border-color: #f5f5f6;
                    background-color: #fafafa;
                }
            }
        }
    }
}

.enterprise-news-page {
    @import "../modules/list_news";

    .list-top-news {
        .item {
            .post-image {
                width: 100px;
            }

            .post-info {
                .post-name {
                    line-height: 1.3
                }
            }
        }
    }
}

.related-companies {
    background-color: $white-200;
    padding-top: 63px;
    padding-bottom: 55px;

    .item {
        box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.3);

        .item-name {
            min-height: 43px;
        }

        .item-logo {
            border: 2px solid $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    @import "reponsive/enterprise";
}
.save_job_done i {
    color: #3ea37d;
}
