@import "../var";

.box-news-list {
    .box-left, .box-right {
        padding-top: 60px;
    }

    .box-right {
        padding-left: 29px;
    }

    @import "../modules/list_news";

    .box-hot-news {
        .title-box {
            font-size: 30px;

            &:after {
                content: '.';
                display: inline-block;
                color: $green-300;
                margin-left: -8px
            }
        }

        .list-hot-news {
            .item {
                border-bottom: 1px dotted $grey-200;
                padding-bottom: 12px;

                &:first-child {
                    padding-top: 0 !important;
                }

                .post-name {
                    margin-top: -1px;
                }

                .img {
                    position: relative;
                    width: 48px;
                    height: 48px;

                    .post-order {
                        position: absolute;
                        font-weight: 600;
                        font-size: 10px;
                        color: $white;
                        border: 1px solid $white;
                        background-color: $green-300;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        line-height: 14px;
                        bottom: 0;
                        right: 0;
                    }
                }

                .auth-name {
                    &:after {
                        content: '';
                        display: inline-block;
                        border-right: 1px solid $grey;
                        height: 11px;
                        padding-left: 6px;
                        position: relative;
                        top: 1px;
                    }
                }

                .cat-name {
                    padding-left: 5px;
                }
            }
        }

        .list-top-watch {
            .item {
                &:last-child {
                    border: 0;
                }
            }
        }
    }
}

.page-detail-news {
    margin-bottom: 82px;
    .top-page-list-news {
        padding-top: 37px;
        padding-bottom: 43px;
    }

    .article-cat {
        .cat-avatar {
            width: 100px;
            height: 100px;
        }

        .cat-name {
            font-size: 24px;
        }
    }

    .company-menu-page {
        .nav {
            .nav-link {
                padding-left: 9px;
                padding-right: 9px;

                &.active {
                    font-weight: 700;
                }

                &:after {
                    height: 2px;
                }
            }

        }
    }

    .cover-article {
        margin-bottom: 54px;
    }

    .content-page-article {
        .article-title {
            font-size: 34px;
            margin-bottom: 35px;
        }
        .article-auth {
            .auth-avatar {
                width: 48px;
                height: 48px;
            }
        }

        .article-content {
            img {
                max-width: 770px;
                width: 100%;
            }
        }
    }

    .auth-activity-info {
        .counter {
            &:after {
                content: '';
                display: inline-block;
                border-right: 1px solid $grey;
                height: 12px;
                padding-left: 12px;
            }
        }
    }

    .company-top-jobs {
        background-color: #f8f8f9;
        padding-top: 28px;
        padding-bottom: 28px;

        .title-box {
            font-size: 18px;
        }

        .list-jobs {
            .item {
                margin-bottom: 8px;
                &:before {
                    content: "\2022";
                    color: $grey-200;
                    font-weight: bold;
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    margin-right: 8px;
                }
            }
        }
    }

    .article-tags {
        .tag-item {
            line-height: 22px;
        }
    }

    .article-auth-intro {
        .item {
            margin-bottom: 55px;
        }
    }

    .related-posts {
        .box-title {
            padding-bottom: 22px;
            position: relative;
            margin-bottom: 25px;
            &:after {
                content: '';
                width: 20px;
                height: 2px;
                background-color: $green-300;
                display: block;
                position: absolute;
                bottom: 5px;
            }
        }

        .item {
            .image-post {
                margin-bottom: 16px;
            }
            .name-post {
                font-size: 16px;
                line-height: 1.45;
            }
        }

    }
}

.dot-space {
    &:before {
        content: '•';
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@include media-breakpoint-down(lg) {
    @import "reponsive/news";
}
